$gold: #b59206;
$hovergold:#7e6604;
$darksilver:#727171;
$black: #000000;
$white: #ffffff;
$main-bgcolor:#fff;
$bg-left:#30acb8;
$bg-btn:#30acb8;
$blue:#30acb8;
$blue-hover:#33929c;
$orange:#f76310;
$light-orange:#fd823d;
$silver:#939598;
$light-silver:#b3b5b8;
@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: $main-bgcolor!important;
  height: 100%;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}
h1,h2,h3,p{
  text-align: right;
}
ul{
  list-style: none;
  padding: 0;
  li{
    text-align: right;
    a{

    }
  }
}
strong{
  color: $orange;
}
.header{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  position: relative;
  .logo{
    .logo-image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .menu{
    nav{
      ul{
        li{
          display: block;
          border-bottom: 3px solid $white ;
          width: fit-content;
          padding-bottom: 5px;
          a{
            font-size: 14px;
            color: #333333!important;
          }
          p{
            margin-bottom: 0;
            font-size: 12px;
            color: $light-silver;
            text-align: center;
            margin-top: -5px;
          }
          &:hover{
            border-bottom: 3px solid $orange ;
          }
        }
      }
    }
  }
  .login{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    .user-icon{
      svg{
        padding:4px;
      }
    }
    .user-login{
      display: flex;
      align-items: center;
      .membership{
        color: #333333;
      }
      .login-link{
        color: $orange;
      }
    }
  }
  .basket{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    position: relative;
    .basket-icon{
      svg{
        padding: 3px;
      }
    }
    .basket-desc{
      .basket-text{
        p{
          color: #333333;
          margin: 0;
        }
      }
      .price-sum{
        p{
          font-size: 13px;
          margin: 0;
          color: $orange;
        }
      }
    }
    //.cart-basket{
    //  display: block;
    //  position: absolute;
    //  left: 0px;
    //  background-color: white;
    //  width: 350px;
    //  height: 300px;
    //  top: 100%;
    //  .menu-item-image{
    //    img{
    //      width: 100%;
    //    }
    //  }
    //}
    .basket-box{
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      background-color: $white;
      width: 300px;
      height: 300px;
      z-index: 1000;
      border-radius: 10px;
      .menu-items{
        .menu-box{
          border-bottom: 1px solid #e5e5e5;
          padding-top: 10px;
          .menu-item-image{
            img{
              width: 100%;
            }
          }
        }
        .box-titles{
          .menu-item-box-title{
            h3{
              a{
                font-size: 20px;
                color: #333333;
              }
            }
          }
          .menu-item-box-decs{
            p{
              font-size: 14px;
              color: $light-silver;
            }
          }
        }

        .cart-basket-footer{
          display: flex;
          justify-content: space-between;
          padding: 10px;
          .cart-basket-footer-total{
            display: flex;
            justify-content: space-between;
            padding:10px;

          }
          .cart-basket-footer-link{
            margin-top: 10px;
            a{
              background-color: $light-orange;
              color: white;
              padding: 5px 15px;
              border-radius: 5px;
              width: fit-content;
              &:hover{
                background-color: $orange;
              }
            }
          }
        }
      }
    }
  }
  .order-num{
    position: absolute;
    top: 19%;
    left: 65%;
    color: white;
    background-color:$darksilver;
    border-radius: 50%;
    padding: 2px 7px 0px 6px;
    font-size: 12px;
  }
  .header-desktop{
    @media screen and (max-width:768px){
      display: none;
    }
  }
  .header-mobile{
    display: none;
    @media screen and (max-width: 768px){
      display: block;
    }
    .mobile-menu{
      display: flex;
      justify-content: space-around;
      .top-mobile-menu{
        display: flex;
        align-items: center;
        .btn-primary{
          background-color: $light-silver!important;
          border: none;
        }
        button{
          display: flex;
          border: none;
        }
        .modal{
          .return{
            position: absolute;
            top: 1%;
            left: 0;
          }
          .modal-dialog{
            width: 60%;
            height: 100%;
            margin: 0;
            .modal-content{
              height: 100%;
              .modal-body{
                .menu-item{
                  text-align: right;
                  line-height: 35px;
                  a{
                    color: #333333;
                    &:hover{
                      color: #000;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
.about-us{
  margin-top: 30px;
  .aboutus-item{
    width: 100%;
    position: relative;
    background-image: url("../../assets/images/13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 215px;
    background-color: rgba(0,130,253,.8);
    border-top-right-radius:40px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 100px;
    opacity: .9;
    .aboutus-box{
      background-color:rgb(253 128 0 / 85%);
      opacity: 7;
      width: 100%;
      height: 215px;
      border-top-right-radius: 40px;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 100px;
      .aboutus-title h3{
        font-size: 20px;
        font-weight: bold;
        padding-right: 45px;
        color: white;
        padding-top: 38px;
      }
      .aboutus-title:before{
        content: "";
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 3px;
        background-color:white;
        right: 2%;
        top: 23%;
        transform: translateY(-50%);
      }
      .text-style p{
        font-size: 15px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 20px;
        line-height: 30px;
        color: white;
      }
    }
  }
  .more-desc{
    margin-top: 30px;
    p{
      color: #515151;
      text-align: justify;
      line-height: 35px;
    }
  }
  .aboutus-items{
    .aboutus-image{
      height: 500px;
      padding: 20px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .virgol{
    position: relative;
    background-color: #f5f5f5;
    border-top-right-radius: 30px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
  }
  .virgol .text-style p{
    color:rgba(138,138,138,1.00);
    padding: 50px ;
    font-size: 16px;

  }
  .virgol-image{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: right;
    right: -6%;
  }
  .virgol-image svg{
    border-radius:50%;
    background-color: white;
    height: 60px;
    width: 60px;
    padding: 8px;
  }

}
footer{
  .footer{
    background-color: #333333;
    .banner{
      padding-top:60px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .advertising{
        .advertising-title{
          h2{
            color: $white;
          }
        }
        .advertising-desc{
          p{
            color: $silver;
            font-size: 22px;
          }
        }
      }
      .footer-btn{
        padding-top: 10px;
        display: flex;
        justify-content:flex-end;
        @media screen and (max-width: 768px){
          justify-content:center;
        }
        a{
          border: 1px solid $silver;
          border-radius: 5px;
          padding: 20px 40px;
          text-align: center;
          @media screen and (max-width: 768px){
            padding: 15px 30px;
          }
        }
        a{
          &:nth-child(1){
            color: $silver;
            &:hover{

            }
          }
        }
        a{
          &:nth-child(2){
            color: $white;
            background-color: $light-orange;
            margin-right: 20px;
            border: none;
            &:hover{
              background-color: $orange;
            }
          }
        }
      }
    }
    .footer-body{
      padding-top:90px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .logo{
        margin-top: -50px;
        .logo-img{
          height: 150px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .footer-desc{
        padding-top: 25px;
        p{
          color: $white;
          @media screen and (max-width:768px){
            padding: 10px;
            text-align: justify;
          }
        }
      }
      .footer-box{
        display: flex;
        justify-content: space-around;

        .faction-items{

          .faction-title{
            h2{
              color: $white;
              font-size: 20px;
            }
          }
          .faction-list{
            padding-top: 20px;
            ul{
              padding: 5px;
              li{
                line-height:30px;
                a{
                  color:$silver;
                  &:hover{
                    color: $light-orange;
                  }
                }
              }
            }
          }
        }

      }
      .mark{
        background-color: white;
        height: 220px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        img{
          width: 100%;
          object-fit: contain;
          height: 100%;
        }
      }
    }
    .footer-items{
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
      @media screen and (max-width: 768px){
        display: block;
      }

      .footer-copyright{
        text-align: right;
        @media screen and (max-width: 768px){
          text-align: center;
        }
        a{
          color: $white;
        }
      }
      .social-media{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 768px){
          padding-top: 30px;
        }
        i{
          font-size: 28px;
          color: $white;
          padding-right: 30px;
          &:hover{
            color: $light-orange;
          }
        }
      }
    }
  }
}