@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff !important;
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

h1, h2, h3, p {
  text-align: right;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  text-align: right;
}
strong {
  color: #f76310;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  position: relative;
}
.header .logo .logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .menu nav ul li {
  display: block;
  border-bottom: 3px solid #ffffff;
  width: fit-content;
  padding-bottom: 5px;
}
.header .menu nav ul li a {
  font-size: 14px;
  color: #333333 !important;
}
.header .menu nav ul li p {
  margin-bottom: 0;
  font-size: 12px;
  color: #b3b5b8;
  text-align: center;
  margin-top: -5px;
}
.header .menu nav ul li:hover {
  border-bottom: 3px solid #f76310;
}
.header .login {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.header .login .user-icon svg {
  padding: 4px;
}
.header .login .user-login {
  display: flex;
  align-items: center;
}
.header .login .user-login .membership {
  color: #333333;
}
.header .login .user-login .login-link {
  color: #f76310;
}
.header .basket {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header .basket .basket-icon svg {
  padding: 3px;
}
.header .basket .basket-desc .basket-text p {
  color: #333333;
  margin: 0;
}
.header .basket .basket-desc .price-sum p {
  font-size: 13px;
  margin: 0;
  color: #f76310;
}
.header .basket .basket-box {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  z-index: 1000;
  border-radius: 10px;
}
.header .basket .basket-box .menu-items .menu-box {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}
.header .basket .basket-box .menu-items .menu-box .menu-item-image img {
  width: 100%;
}
.header .basket .basket-box .menu-items .box-titles .menu-item-box-title h3 a {
  font-size: 20px;
  color: #333333;
}
.header .basket .basket-box .menu-items .box-titles .menu-item-box-decs p {
  font-size: 14px;
  color: #b3b5b8;
}
.header .basket .basket-box .menu-items .cart-basket-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link {
  margin-top: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link a {
  background-color: #fd823d;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  width: fit-content;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link a:hover {
  background-color: #f76310;
}
.header .order-num {
  position: absolute;
  top: 19%;
  left: 65%;
  color: white;
  background-color: #727171;
  border-radius: 50%;
  padding: 2px 7px 0px 6px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .header .header-desktop {
    display: none;
  }
}
.header .header-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header-mobile {
    display: block;
  }
}
.header .header-mobile .mobile-menu {
  display: flex;
  justify-content: space-around;
}
.header .header-mobile .mobile-menu .top-mobile-menu {
  display: flex;
  align-items: center;
}
.header .header-mobile .mobile-menu .top-mobile-menu .btn-primary {
  background-color: #b3b5b8 !important;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu button {
  display: flex;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .return {
  position: absolute;
  top: 1%;
  left: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog {
  width: 60%;
  height: 100%;
  margin: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content {
  height: 100%;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item {
  text-align: right;
  line-height: 35px;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a {
  color: #333333;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a:hover {
  color: #000;
}

.about-us {
  margin-top: 30px;
}
.about-us .aboutus-item {
  width: 100%;
  position: relative;
  background-image: url("../../assets/images/13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 215px;
  background-color: rgba(0, 130, 253, 0.8);
  border-top-right-radius: 40px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 100px;
  opacity: 0.9;
}
.about-us .aboutus-item .aboutus-box {
  background-color: rgba(253, 128, 0, 0.85);
  opacity: 7;
  width: 100%;
  height: 215px;
  border-top-right-radius: 40px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 100px;
}
.about-us .aboutus-item .aboutus-box .aboutus-title h3 {
  font-size: 20px;
  font-weight: bold;
  padding-right: 45px;
  color: white;
  padding-top: 38px;
}
.about-us .aboutus-item .aboutus-box .aboutus-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color: white;
  right: 2%;
  top: 23%;
  transform: translateY(-50%);
}
.about-us .aboutus-item .aboutus-box .text-style p {
  font-size: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
  line-height: 30px;
  color: white;
}
.about-us .more-desc {
  margin-top: 30px;
}
.about-us .more-desc p {
  color: #515151;
  text-align: justify;
  line-height: 35px;
}
.about-us .aboutus-items .aboutus-image {
  height: 500px;
  padding: 20px;
}
.about-us .aboutus-items .aboutus-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us .virgol {
  position: relative;
  background-color: #f5f5f5;
  border-top-right-radius: 30px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
}
.about-us .virgol .text-style p {
  color: #8a8a8a;
  padding: 50px;
  font-size: 16px;
}
.about-us .virgol-image {
  width: 100%;
  position: absolute;
  top: 28%;
  text-align: right;
  right: -6%;
}
.about-us .virgol-image svg {
  border-radius: 50%;
  background-color: white;
  height: 60px;
  width: 60px;
  padding: 8px;
}

footer .footer {
  background-color: #333333;
}
footer .footer .banner {
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .banner .advertising .advertising-title h2 {
  color: #ffffff;
}
footer .footer .banner .advertising .advertising-desc p {
  color: #939598;
  font-size: 22px;
}
footer .footer .banner .footer-btn {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn {
    justify-content: center;
  }
}
footer .footer .banner .footer-btn a {
  border: 1px solid #939598;
  border-radius: 5px;
  padding: 20px 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn a {
    padding: 15px 30px;
  }
}
footer .footer .banner .footer-btn a:nth-child(1) {
  color: #939598;
}
footer .footer .banner .footer-btn a:nth-child(2) {
  color: #ffffff;
  background-color: #fd823d;
  margin-right: 20px;
  border: none;
}
footer .footer .banner .footer-btn a:nth-child(2):hover {
  background-color: #f76310;
}
footer .footer .footer-body {
  padding-top: 90px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .footer-body .logo {
  margin-top: -50px;
}
footer .footer .footer-body .logo .logo-img {
  height: 150px;
}
footer .footer .footer-body .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footer .footer-body .footer-desc {
  padding-top: 25px;
}
footer .footer .footer-body .footer-desc p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-body .footer-desc p {
    padding: 10px;
    text-align: justify;
  }
}
footer .footer .footer-body .footer-box {
  display: flex;
  justify-content: space-around;
}
footer .footer .footer-body .footer-box .faction-items .faction-title h2 {
  color: #ffffff;
  font-size: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list {
  padding-top: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul {
  padding: 5px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li {
  line-height: 30px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a {
  color: #939598;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a:hover {
  color: #fd823d;
}
footer .footer .footer-body .mark {
  background-color: white;
  height: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
footer .footer .footer-body .mark img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
footer .footer .footer-items {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items {
    display: block;
  }
}
footer .footer .footer-items .footer-copyright {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .footer-copyright {
    text-align: center;
  }
}
footer .footer .footer-items .footer-copyright a {
  color: #ffffff;
}
footer .footer .footer-items .social-media {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .social-media {
    padding-top: 30px;
  }
}
footer .footer .footer-items .social-media i {
  font-size: 28px;
  color: #ffffff;
  padding-right: 30px;
}
footer .footer .footer-items .social-media i:hover {
  color: #fd823d;
}

/*# sourceMappingURL=about%20us.css.map */
