$gold: #b59206;
$hovergold:#7e6604;
$darksilver:#727171;
$black: #000000;
$white: #ffffff;
$main-bgcolor:#fff;
$bg-left:#30acb8;
$bg-btn:#30acb8;
$blue:#30acb8;
$blue-hover:#33929c;
$orange:#f76310;
$light-orange:#fd823d;
$silver:#939598;
$light-silver:#b3b5b8;
$box-shadow-color:#9a888814;
@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: $main-bgcolor!important;
  height: 100%;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}
h1,h2,h3,p{
  text-align: right;
}
ul{
  list-style: none;
  li{
    text-align: right;
    display: flex;
    a{

    }
  }
}
.title{
  h2{
    font-size: 23px;
  }
}
strong{
  color: $orange;
}
.header{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  .logo{
    .logo-image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .menu{
    nav{
      ul{
        li{
          display: block;
          border-bottom: 3px solid $white ;
          width: fit-content;
          padding-bottom: 5px;
          a{
            font-size: 14px;
            color: #333333!important;
          }
          p{
            margin-bottom: 0;
            font-size: 12px;
            color: $light-silver;
            text-align: center;
            margin-top: -5px;
          }
          &:hover{
            border-bottom: 3px solid $orange ;
          }
        }
      }
    }
  }
  .login{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    .user-icon{
      svg{
        padding:4px;
      }
    }
    .user-login{
      display: flex;
      align-items: center;
      .membership{
        color: #333333;
      }
      .login-link{
        color: $orange;
      }
    }
  }
  .basket{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    position: relative;
    .basket-icon{
      svg{
        padding: 3px;
      }
    }
    .basket-desc{
      .basket-text{
        p{
          color: #333333;
          margin: 0;
        }
      }
      .price-sum{
        p{
          font-size: 13px;
          margin: 0;
          color: $orange;
        }
      }
    }
  }
  .order-num{
    position: absolute;
    top: 12%;
    left: 62%;
    color: white;
    background-color:$darksilver;
    border-radius: 50%;
    padding: 2px 7px 0px 6px;
    font-size: 12px;
  }
  .header-desktop{
    @media screen and (max-width:768px){
      display: none;
    }
  }
  .header-mobile{
    display: none;
    @media screen and (max-width: 768px){
      display: block;
    }
    .mobile-menu{
      display: flex;
      justify-content: space-around;
      .top-mobile-menu{
        display: flex;
        align-items: center;
        .btn-primary{
          background-color: $light-silver!important;
          border: none;
        }
        button{
          display: flex;
          border: none;
        }
        .modal{
          .return{
            position: absolute;
            top: 1%;
            left: 0;
          }
          .modal-dialog{
            width: 60%;
            height: 100%;
            margin: 0;
            .modal-content{
              height: 100%;
              .modal-body{
                .menu-item{
                  text-align: right;
                  line-height: 35px;
                  a{
                    color: #333333;
                    &:hover{
                      color: #000;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
.articles {
  padding-top: 50px;
  width: 100%;
  .form{
    .title{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }


  .big-article-texts {
    opacity: 7;
    height: 560px;
  }

  .article-parts {
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 8px 3px $box-shadow-color;

    .article-box {
      margin-top: 10px;
      margin-bottom: 20px;

      .title {
        h2 {
          font-size: 20px !important;
        }
      }

    }
  }

  .article-image {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
.article-img{
  height: 500px;
  @media screen and (max-width:768px){
    height: 230px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
    @media screen and (max-width:768px){
      img{
        height: 300px;
      }
    }
    .share{
      .share-title:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 7%;
        width: 1px;
        height: 60px;
        background-color: #888!important;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        @media screen and (max-width: 768px){
          height:45px;
        }
      }
      .share-icons{
        position: absolute;
        top: 20%;
        right:36%;
        ul{
          padding:0!important;
          li{
            i {
              line-height: 50px;
              color: $light-orange;
              &:hover{
                color: $orange;
              }
            }
          }
        }
      }
    }

  }

  .article-header {
    margin-bottom: 20px;
    display: flex;

    a {
      text-decoration: none;
      color: #6b7074;
      font-size: 18px;

      &:hover {
        text-decoration: none;
        color: black;
      }
    }

    h3 {
      font-size: 16px;
      font-weight: bold;
    }
  }

  @media screen and (max-width: 768px) {
    .article-header {
      margin-top: 10px;
    }
  }

  .article-desc {
    p {
      color: #6b7074;
      font-size: 15px;
      line-height: 40px;
      text-align: justify;
      padding: 10px;
      padding-right: 0;
    }
  }

  .article-items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (max-width:768px){
      display: block;
    }
    .time{
      display: flex;
      .fa-clock-o{
        color:$light-orange;
        padding-right: 5px;
        padding-top: 2px;
      }
    }
    .article-time{
      .fa-calendar{
        color:$light-orange;
      }
    }
  }

  .article-time {
    display: flex;

    p {
      font-size: 13px;
      color: #868a8d;
      padding-right: 5px;

    }

  }

  .styled {
    background-color: #3cbce9;
    border: none;
    padding: 3px 10px;
    color: white;
    border-radius: 5px;
    font-size: 13px;

    &:hover {
      background-color: #07A6DD;

    }
  }

  .article-time .fa-clock-o {
    color: #868a8d;
    padding-top: 2px;
  }

  .articles-bottom {
    width: 100%;
    margin-top: 10px;

    .styled {
      &:hover {
        background-color: #07A6DD;

      }
    }
  }
}
.article-comment{
  margin-bottom: 50px;
  @media screen and (max-width: 768px){
    margin-top: 50px;
  }
  .article-bg{
    box-shadow: 0px 4px 8px 3px $box-shadow-color;
    padding: 18px;
  }
  .form{
    .idea{
      .title{
        margin-bottom: 20px;
      }
    }
  }
  form{
    text-align: right;
    input{
      font-size:15px;
    }
    button{
      background-color: $light-orange;
      color: $white;
      width: 100%;
      &:hover{
        background-color: $orange;
        color: $white;
      }
    }
    label{

    }
  }
}
.article-header-top {
  background-image: url("../images/13.jpg");
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat;
  position: relative;
  @media screen and (max-width: 768px) {
    .title {
      padding: 20px 40px!important;
      left: 33%!important;
    }
  }

  .title {
    position: absolute;
    top: 50%;
    left: 7%;
    background-color: #00000054;
    padding: 20px 40px;
    display: block;

    h2 {
      color: $white;
    }
  }
}

.recent-articles{
  .title{
    margin-top: 20px;
    h2{
      padding-right: 15px;
    }
  }
  .category{
    box-shadow: 0px 4px 16px 3px $box-shadow-color;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    border-radius: 10px;
    .fa-calendar{
      color: $light-orange;
      padding-left: 10px;
    }
    .article-image{
      height: 55px!important;
      img{
        width: 100%!important;
        height: 100%;
        object-fit: cover;
        border-radius: 10px!important;
      }
    }
    .title{
      margin-top: 0px;
      text-align: justify;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      h2{
        font-size: 13px;
        font-weight: 500;
        a{
          color: $black
        }
      }
    }
    .date-info{
      text-align: right;
    }
  }
}
.blog-category {
  .faction{
    margin-top: 30px;
    margin-bottom: 60px;
    .title{
      margin-bottom: 20px;
      h2{
        padding-right: 15px;
      }
    }
    .faction-titles{
      box-shadow:0px 4px 8px 3px $box-shadow-color;
      padding: 15px 0px;
      ul{
        li{
          a{
            color: $black!important;
            &:hover{
              color:$orange!important;
            }
          }
        }
      }
    }
  }
  .search {
    position: relative;
    margin-top: 30px;

    .title {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    input {
      border: none;
      box-shadow: 0px 4px 16px 3px $box-shadow-color;
      width: 100%;
      height: 35px;
      padding-right: 10px;
    }

    button {
      position: absolute;
      top: 62%;
      left: 2%;
      border: none;
      background-color: transparent;
      color: $darksilver;
    }
  }
}
footer{
  .footer{
    background-color: #333333;
    .banner{
      padding-top:60px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .advertising{
        .advertising-title{
          h2{
            color: $white;
          }
        }
        .advertising-desc{
          p{
            color: $silver;
            font-size: 22px;
          }
        }
      }
      .footer-btn{
        padding-top: 10px;
        display: flex;
        justify-content:flex-end;
        @media screen and (max-width: 768px){
          justify-content:center;
        }
        a{
          border: 1px solid $silver;
          border-radius: 5px;
          padding: 20px 40px;
          text-align: center;
          @media screen and (max-width: 768px){
            padding: 15px 30px;
          }
        }
        a{
          &:nth-child(1){
            color: $silver;
            &:hover{

            }
          }
        }
        a{
          &:nth-child(2){
            color: $white;
            background-color: $light-orange;
            margin-right: 20px;
            border: none;
            &:hover{
              background-color: $orange;
            }
          }
        }
      }
    }
    .footer-body{
      padding-top:90px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .logo{
        margin-top: -50px;
        .logo-img{
          height: 150px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .footer-desc{
        padding-top: 25px;
        p{
          color: $white;
          @media screen and (max-width:768px){
            padding: 10px;
            text-align: justify;
          }
        }
      }
      .footer-box{
        display: flex;
        justify-content: space-around;

        .faction-items{

          .faction-title{
            h2{
              color: $white;
              font-size: 20px;
            }
          }
          .faction-list{
            padding-top: 20px;
            ul{
             padding: 5px;
              li{
                line-height:30px;
                a{
                  color:$silver;
                  &:hover{
                    color: $light-orange;
                  }
                }
              }
            }
          }
        }

      }
      .mark{
        background-color: white;
        height: 220px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        img{
          width: 100%;
          object-fit: contain;
          height: 100%;
        }
      }
    }
    .footer-items{
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
      @media screen and (max-width: 768px){
        display: block;
      }

      .footer-copyright{
        text-align: right;
        @media screen and (max-width: 768px){
          text-align: center;
        }
        a{
          color: $white;
        }
      }
      .social-media{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 768px){
          padding-top: 30px;
        }
        i{
          font-size: 28px;
          color: $white;
          padding-right: 30px;
          &:hover{
            color: $light-orange;
          }
        }
      }
    }
  }
}