@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff !important;
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

h1, h2, h3, p {
  text-align: right;
}

ul {
  list-style: none;
}
ul li {
  text-align: right;
  display: flex;
}
.title h2 {
  font-size: 23px;
}

strong {
  color: #f76310;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
}
.header .logo .logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .menu nav ul li {
  display: block;
  border-bottom: 3px solid #ffffff;
  width: fit-content;
  padding-bottom: 5px;
}
.header .menu nav ul li a {
  font-size: 14px;
  color: #333333 !important;
}
.header .menu nav ul li p {
  margin-bottom: 0;
  font-size: 12px;
  color: #b3b5b8;
  text-align: center;
  margin-top: -5px;
}
.header .menu nav ul li:hover {
  border-bottom: 3px solid #f76310;
}
.header .login {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.header .login .user-icon svg {
  padding: 4px;
}
.header .login .user-login {
  display: flex;
  align-items: center;
}
.header .login .user-login .membership {
  color: #333333;
}
.header .login .user-login .login-link {
  color: #f76310;
}
.header .basket {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header .basket .basket-icon svg {
  padding: 3px;
}
.header .basket .basket-desc .basket-text p {
  color: #333333;
  margin: 0;
}
.header .basket .basket-desc .price-sum p {
  font-size: 13px;
  margin: 0;
  color: #f76310;
}
.header .order-num {
  position: absolute;
  top: 12%;
  left: 62%;
  color: white;
  background-color: #727171;
  border-radius: 50%;
  padding: 2px 7px 0px 6px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .header .header-desktop {
    display: none;
  }
}
.header .header-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header-mobile {
    display: block;
  }
}
.header .header-mobile .mobile-menu {
  display: flex;
  justify-content: space-around;
}
.header .header-mobile .mobile-menu .top-mobile-menu {
  display: flex;
  align-items: center;
}
.header .header-mobile .mobile-menu .top-mobile-menu .btn-primary {
  background-color: #b3b5b8 !important;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu button {
  display: flex;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .return {
  position: absolute;
  top: 1%;
  left: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog {
  width: 60%;
  height: 100%;
  margin: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content {
  height: 100%;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item {
  text-align: right;
  line-height: 35px;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a {
  color: #333333;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a:hover {
  color: #000;
}

.articles {
  padding-top: 50px;
  width: 100%;
}
.articles .form .title {
  padding-top: 20px;
  padding-bottom: 20px;
}
.articles .big-article-texts {
  opacity: 7;
  height: 560px;
}
.articles .article-parts {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 8px 3px #9a888814;
}
.articles .article-parts .article-box {
  margin-top: 10px;
  margin-bottom: 20px;
}
.articles .article-parts .article-box .title h2 {
  font-size: 20px !important;
}
.articles .article-image {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.articles .article-image .article-img {
  height: 500px;
}
@media screen and (max-width: 768px) {
  .articles .article-image .article-img {
    height: 230px;
  }
}
.articles .article-image .article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .articles .article-image img {
    height: 300px;
  }
}
.articles .article-image .share .share-title:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 7%;
  width: 1px;
  height: 60px;
  background-color: #888 !important;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .articles .article-image .share .share-title:before {
    height: 45px;
  }
}
.articles .article-image .share .share-icons {
  position: absolute;
  top: 20%;
  right: 36%;
}
.articles .article-image .share .share-icons ul {
  padding: 0 !important;
}
.articles .article-image .share .share-icons ul li i {
  line-height: 50px;
  color: #fd823d;
}
.articles .article-image .share .share-icons ul li i:hover {
  color: #f76310;
}
.articles .article-header {
  margin-bottom: 20px;
  display: flex;
}
.articles .article-header a {
  text-decoration: none;
  color: #6b7074;
  font-size: 18px;
}
.articles .article-header a:hover {
  text-decoration: none;
  color: black;
}
.articles .article-header h3 {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .articles .article-header {
    margin-top: 10px;
  }
}
.articles .article-desc p {
  color: #6b7074;
  font-size: 15px;
  line-height: 40px;
  text-align: justify;
  padding: 10px;
  padding-right: 0;
}
.articles .article-items {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .articles .article-items {
    display: block;
  }
}
.articles .article-items .time {
  display: flex;
}
.articles .article-items .time .fa-clock-o {
  color: #fd823d;
  padding-right: 5px;
  padding-top: 2px;
}
.articles .article-items .article-time .fa-calendar {
  color: #fd823d;
}
.articles .article-time {
  display: flex;
}
.articles .article-time p {
  font-size: 13px;
  color: #868a8d;
  padding-right: 5px;
}
.articles .styled {
  background-color: #3cbce9;
  border: none;
  padding: 3px 10px;
  color: white;
  border-radius: 5px;
  font-size: 13px;
}
.articles .styled:hover {
  background-color: #07A6DD;
}
.articles .article-time .fa-clock-o {
  color: #868a8d;
  padding-top: 2px;
}
.articles .articles-bottom {
  width: 100%;
  margin-top: 10px;
}
.articles .articles-bottom .styled:hover {
  background-color: #07A6DD;
}

.article-comment {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .article-comment {
    margin-top: 50px;
  }
}
.article-comment .article-bg {
  box-shadow: 0px 4px 8px 3px #9a888814;
  padding: 18px;
}
.article-comment .form .idea .title {
  margin-bottom: 20px;
}
.article-comment form {
  text-align: right;
}
.article-comment form input {
  font-size: 15px;
}
.article-comment form button {
  background-color: #fd823d;
  color: #ffffff;
  width: 100%;
}
.article-comment form button:hover {
  background-color: #f76310;
  color: #ffffff;
}
.article-header-top {
  background-image: url("../images/13.jpg");
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 768px) {
  .article-header-top .title {
    padding: 20px 40px !important;
    left: 33% !important;
  }
}
.article-header-top .title {
  position: absolute;
  top: 50%;
  left: 7%;
  background-color: #00000054;
  padding: 20px 40px;
  display: block;
}
.article-header-top .title h2 {
  color: #ffffff;
}

.recent-articles .title {
  margin-top: 20px;
}
.recent-articles .title h2 {
  padding-right: 15px;
}
.recent-articles .category {
  box-shadow: 0px 4px 16px 3px #9a888814;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  border-radius: 10px;
}
.recent-articles .category .fa-calendar {
  color: #fd823d;
  padding-left: 10px;
}
.recent-articles .category .article-image {
  height: 55px !important;
}
.recent-articles .category .article-image img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  border-radius: 10px !important;
}
.recent-articles .category .title {
  margin-top: 0px;
  text-align: justify;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.recent-articles .category .title h2 {
  font-size: 13px;
  font-weight: 500;
}
.recent-articles .category .title h2 a {
  color: #000000;
}
.recent-articles .category .date-info {
  text-align: right;
}

.blog-category .faction {
  margin-top: 30px;
  margin-bottom: 60px;
}
.blog-category .faction .title {
  margin-bottom: 20px;
}
.blog-category .faction .title h2 {
  padding-right: 15px;
}
.blog-category .faction .faction-titles {
  box-shadow: 0px 4px 8px 3px #9a888814;
  padding: 15px 0px;
}
.blog-category .faction .faction-titles ul li a {
  color: #000000 !important;
}
.blog-category .faction .faction-titles ul li a:hover {
  color: #f76310 !important;
}
.blog-category .search {
  position: relative;
  margin-top: 30px;
}
.blog-category .search .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog-category .search input {
  border: none;
  box-shadow: 0px 4px 16px 3px #9a888814;
  width: 100%;
  height: 35px;
  padding-right: 10px;
}
.blog-category .search button {
  position: absolute;
  top: 62%;
  left: 2%;
  border: none;
  background-color: transparent;
  color: #727171;
}

footer .footer {
  background-color: #333333;
}
footer .footer .banner {
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .banner .advertising .advertising-title h2 {
  color: #ffffff;
}
footer .footer .banner .advertising .advertising-desc p {
  color: #939598;
  font-size: 22px;
}
footer .footer .banner .footer-btn {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn {
    justify-content: center;
  }
}
footer .footer .banner .footer-btn a {
  border: 1px solid #939598;
  border-radius: 5px;
  padding: 20px 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn a {
    padding: 15px 30px;
  }
}
footer .footer .banner .footer-btn a:nth-child(1) {
  color: #939598;
}
footer .footer .banner .footer-btn a:nth-child(2) {
  color: #ffffff;
  background-color: #fd823d;
  margin-right: 20px;
  border: none;
}
footer .footer .banner .footer-btn a:nth-child(2):hover {
  background-color: #f76310;
}
footer .footer .footer-body {
  padding-top: 90px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .footer-body .logo {
  margin-top: -50px;
}
footer .footer .footer-body .logo .logo-img {
  height: 150px;
}
footer .footer .footer-body .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footer .footer-body .footer-desc {
  padding-top: 25px;
}
footer .footer .footer-body .footer-desc p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-body .footer-desc p {
    padding: 10px;
    text-align: justify;
  }
}
footer .footer .footer-body .footer-box {
  display: flex;
  justify-content: space-around;
}
footer .footer .footer-body .footer-box .faction-items .faction-title h2 {
  color: #ffffff;
  font-size: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list {
  padding-top: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul {
  padding: 5px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li {
  line-height: 30px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a {
  color: #939598;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a:hover {
  color: #fd823d;
}
footer .footer .footer-body .mark {
  background-color: white;
  height: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
footer .footer .footer-body .mark img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
footer .footer .footer-items {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items {
    display: block;
  }
}
footer .footer .footer-items .footer-copyright {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .footer-copyright {
    text-align: center;
  }
}
footer .footer .footer-items .footer-copyright a {
  color: #ffffff;
}
footer .footer .footer-items .social-media {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .social-media {
    padding-top: 30px;
  }
}
footer .footer .footer-items .social-media i {
  font-size: 28px;
  color: #ffffff;
  padding-right: 30px;
}
footer .footer .footer-items .social-media i:hover {
  color: #fd823d;
}

/*# sourceMappingURL=article.css.map */
