$gold: #b59206;
$hovergold:#7e6604;
$darksilver:#727171;
$black: #000000;
$white: #ffffff;
$main-bgcolor:#fff;
$bg-left:#30acb8;
$bg-btn:#30acb8;
$blue:#30acb8;
$blue-hover:#33929c;
$orange:#f76310;
$light-orange:#fd823d;
$silver:#939598;
$light-silver:#b3b5b8;
$box-shadow-color:#9a888814;
@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: $main-bgcolor!important;
  height: 100%;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}
h1,h2,h3,p{
  text-align: right;
}
ul{
  list-style: none;
  li{
    text-align: right;
    display: flex;
    a{

    }
  }
}
strong{
  color: $orange;
}
.read-more{
margin-top: 20px;
  a {
    border: 2px solid $light-orange;
    padding: 3px 20px;
    font-size: 15px;
    color: $white;
    background-color: $light-orange;
    border-radius: 5px;
  }

  a:hover {
    color: $orange;
    background-color: $white;
  }

  i {
    padding-right: 5px;
    padding-left: 5px;
  }
  @media screen and (max-width:768px){
    a{
      font-size: 10px;
    }
  }
}
.title{
  h2{
    font-size: 23px;
  }
}
.header{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  .logo{
    .logo-image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .menu{
    nav{
      ul{
        li{
          display: block;
          border-bottom: 3px solid $white ;
          width: fit-content;
          padding-bottom: 5px;
          a{
            font-size: 14px;
            color: #333333!important;
          }
          p{
            margin-bottom: 0;
            font-size: 12px;
            color: $light-silver;
            text-align: center;
            margin-top: -5px;
          }
          &:hover{
            border-bottom: 3px solid $orange ;
          }
        }
      }
    }
  }
  .login{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    .user-icon{
      svg{
        padding:4px;
      }
    }
    .user-login{
      display: flex;
      align-items: center;
      .membership{
        color: #333333;
      }
      .login-link{
        color: $orange;
      }
    }
  }
  .basket{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    position: relative;
    .basket-icon{
      svg{
        padding: 3px;
      }
    }
    .basket-desc{
      .basket-text{
        p{
          color: #333333;
          margin: 0;
        }
      }
      .price-sum{
        p{
          font-size: 13px;
          margin: 0;
          color: $orange;
        }
      }
    }
  }
  .order-num{
    position: absolute;
    top: 12%;
    left: 62%;
    color: white;
    background-color:$darksilver;
    border-radius: 50%;
    padding: 2px 7px 0px 6px;
    font-size: 12px;
  }
  .header-desktop{
    @media screen and (max-width:768px){
      display: none;
    }
  }
  .header-mobile{
    display: none;
    @media screen and (max-width: 768px){
      display: block;
    }
    .mobile-menu{
      display: flex;
      justify-content: space-around;
      .top-mobile-menu{
        display: flex;
        align-items: center;
        .btn-primary{
          background-color: $light-silver!important;
          border: none;
        }
        button{
          display: flex;
          border: none;
        }
        .modal{
          .return{
            position: absolute;
            top: 1%;
            left: 0;
          }
          .modal-dialog{
            width: 60%;
            height: 100%;
            margin: 0;
            .modal-content{
              height: 100%;
              .modal-body{
                .menu-item{
                  text-align: right;
                  line-height: 35px;
                  a{
                    color: #333333;
                    &:hover{
                      color: #000;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
.blog{
  padding-top: 50px;
  padding-bottom: 50px;
  .blog-list{
    .article{
      //background-color: #f9f9f9;
      box-shadow: 0px 4px 8px 3px $box-shadow-color;
      padding: 15px;
      margin-bottom: 20px;
      margin-top: 20px;
      border-radius: 10px;
      .article-image{
        height:175px;
        @media screen and (max-width: 768px){
          height: 200px;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .title{
        margin-top: 10px;
        h2{
          font-size: 18px;
          font-weight: 500;
          padding-top: 5px;
          padding-bottom: 10px;
          line-height: 25px;
          a{
            color: #333333;
            font-weight: 600;
          }
        }
      }
      .article-caption{
        text-align: right;
        a{
          color:$darksilver;
        }
      }
      .post-info{
        display: flex;
        padding-bottom: 10px;
        .date-info{
          .fa-calendar{
            padding-left:5px!important;
            color: $light-orange;
          }
          .month{
            padding-left: 15px;
          }
          .fa-clock-o{
            padding-left: 5px;
            color: $light-orange;
          }
        }
        .author-info{
          .fa-user-o{
            padding-left: 5px;
            color: $light-orange;

          }
        }
        .date{
          padding-left: 15px;
        }

      }

    }
  }
  .recent-articles{
    .title{
      margin-top: 20px;
      h2{
        @media screen and (max-width: 768px ){
          padding-right: 15px;
        }
      }

    }
    .category{
      box-shadow:0px 4px 8px 3px $box-shadow-color;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 25px;
      border-radius: 10px;
      .fa-calendar{
        color: $light-orange;
        padding-left: 10px;
      }
      .article-image{
        height: 55px!important;
        img{
          width: 100%!important;
          height: 100%;
          object-fit: cover;
          border-radius: 10px!important;
        }
      }
      .title{
        margin-top: 0px;
        text-align: justify;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        h2{
          font-size: 13px;
          font-weight: 500;
          a{
            color: $black
          }
        }
      }
      .date-info{
        text-align: right;
      }
    }
  }
  .blog-category{

    .article-image{
      height: 80px;
      img{
        width: 80px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
  .faction{
    margin-top: 30px;
    margin-bottom: 60px;
    .title{
      margin-bottom: 20px;
      h2{
        @media screen and (max-width: 768px ){
          padding-right: 15px;
        }
      }
    }
    .faction-titles{
      box-shadow:0px 4px 8px 3px $box-shadow-color;
      padding: 15px 0px;
      ul{
        padding: 0 10px;
        li{
          a{
            color: $black!important;
            &:hover{
              color:$orange!important;
            }
          }
        }
      }
    }
  }
  .blog-category{
    .search{
      position: relative;
      margin-top: 30px;
      margin-bottom: 50px;
      .title{
        margin-top: 10px;
        margin-bottom: 10px;
        h2{
          @media screen and (max-width: 768px ){
            padding-right: 15px;
          }
        }
      }

      input{
        border: none;
        box-shadow: 0px 0px 5px 2px $box-shadow-color;
        width: 100%;
        height: 40px;
        padding-right: 10px;
        border-radius: 5px;
      }
      button{
        position: absolute;
        top: 62%;
        left:2%;
        border: none;
        background-color: transparent;
        color: $darksilver;
      }
    }
  }
}
footer{
  .footer{
    background-color: #333333;
    .banner{
      padding-top:60px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .advertising{
        .advertising-title{
          h2{
            color: $white;
          }
        }
        .advertising-desc{
          p{
            color: $silver;
            font-size: 22px;
          }
        }
      }
      .footer-btn{
        padding-top: 10px;
        display: flex;
        justify-content:flex-end;
        @media screen and (max-width: 768px){
          justify-content:center;
        }
        a{
          border: 1px solid $silver;
          border-radius: 5px;
          padding: 20px 40px;
          text-align: center;
          @media screen and (max-width: 768px){
            padding: 15px 30px;
          }
        }
        a{
          &:nth-child(1){
            color: $silver;
            &:hover{

            }
          }
        }
        a{
          &:nth-child(2){
            color: $white;
            background-color: $light-orange;
            margin-right: 20px;
            border: none;
            &:hover{
              background-color: $orange;
            }
          }
        }
      }
    }
    .footer-body{
      padding-top:90px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .logo{
        margin-top: -50px;
        .logo-img{
          height: 150px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .footer-desc{
        padding-top: 25px;
        p{
          color: $white;
          @media screen and (max-width:768px){
            padding: 10px;
            text-align: justify;
          }
        }
      }
      .footer-box{
        display: flex;
        justify-content: space-around;

        .faction-items{

          .faction-title{
            h2{
              color: $white;
              font-size: 20px;
            }
          }
          .faction-list{
            padding-top: 20px;
            ul{
              padding: 5px;
              li{
                line-height:30px;
                a{
                  color:$silver;
                  &:hover{
                    color: $light-orange;
                  }
                }
              }
            }
          }
        }

      }
      .mark{
        background-color: white;
        height: 220px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        img{
          width: 100%;
          object-fit: contain;
          height: 100%;
        }
      }
    }
    .footer-items{
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
      @media screen and (max-width: 768px){
        display: block;
      }

      .footer-copyright{
        text-align: right;
        @media screen and (max-width: 768px){
          text-align: center;
        }
        a{
          color: $white;
        }
      }
      .social-media{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 768px){
          padding-top: 30px;
        }
        i{
          font-size: 28px;
          color: $white;
          padding-right: 30px;
          &:hover{
            color: $light-orange;
          }
        }
      }
    }
  }
}