@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff !important;
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

h1, h2, h3, p {
  text-align: right;
}

ul {
  list-style: none;
}
ul li {
  text-align: right;
  display: flex;
}
strong {
  color: #f76310;
}

.read-more {
  margin-top: 20px;
}
.read-more a {
  border: 2px solid #fd823d;
  padding: 3px 20px;
  font-size: 15px;
  color: #ffffff;
  background-color: #fd823d;
  border-radius: 5px;
}
.read-more a:hover {
  color: #f76310;
  background-color: #ffffff;
}
.read-more i {
  padding-right: 5px;
  padding-left: 5px;
}
@media screen and (max-width: 768px) {
  .read-more a {
    font-size: 10px;
  }
}

.title h2 {
  font-size: 23px;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
}
.header .logo .logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .menu nav ul li {
  display: block;
  border-bottom: 3px solid #ffffff;
  width: fit-content;
  padding-bottom: 5px;
}
.header .menu nav ul li a {
  font-size: 14px;
  color: #333333 !important;
}
.header .menu nav ul li p {
  margin-bottom: 0;
  font-size: 12px;
  color: #b3b5b8;
  text-align: center;
  margin-top: -5px;
}
.header .menu nav ul li:hover {
  border-bottom: 3px solid #f76310;
}
.header .login {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.header .login .user-icon svg {
  padding: 4px;
}
.header .login .user-login {
  display: flex;
  align-items: center;
}
.header .login .user-login .membership {
  color: #333333;
}
.header .login .user-login .login-link {
  color: #f76310;
}
.header .basket {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header .basket .basket-icon svg {
  padding: 3px;
}
.header .basket .basket-desc .basket-text p {
  color: #333333;
  margin: 0;
}
.header .basket .basket-desc .price-sum p {
  font-size: 13px;
  margin: 0;
  color: #f76310;
}
.header .order-num {
  position: absolute;
  top: 12%;
  left: 62%;
  color: white;
  background-color: #727171;
  border-radius: 50%;
  padding: 2px 7px 0px 6px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .header .header-desktop {
    display: none;
  }
}
.header .header-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header-mobile {
    display: block;
  }
}
.header .header-mobile .mobile-menu {
  display: flex;
  justify-content: space-around;
}
.header .header-mobile .mobile-menu .top-mobile-menu {
  display: flex;
  align-items: center;
}
.header .header-mobile .mobile-menu .top-mobile-menu .btn-primary {
  background-color: #b3b5b8 !important;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu button {
  display: flex;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .return {
  position: absolute;
  top: 1%;
  left: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog {
  width: 60%;
  height: 100%;
  margin: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content {
  height: 100%;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item {
  text-align: right;
  line-height: 35px;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a {
  color: #333333;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a:hover {
  color: #000;
}

.blog {
  padding-top: 50px;
  padding-bottom: 50px;
}
.blog .blog-list .article {
  box-shadow: 0px 4px 8px 3px #9a888814;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.blog .blog-list .article .article-image {
  height: 175px;
}
@media screen and (max-width: 768px) {
  .blog .blog-list .article .article-image {
    height: 200px;
  }
}
.blog .blog-list .article .article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.blog .blog-list .article .title {
  margin-top: 10px;
}
.blog .blog-list .article .title h2 {
  font-size: 18px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 10px;
  line-height: 25px;
}
.blog .blog-list .article .title h2 a {
  color: #333333;
  font-weight: 600;
}
.blog .blog-list .article .article-caption {
  text-align: right;
}
.blog .blog-list .article .article-caption a {
  color: #727171;
}
.blog .blog-list .article .post-info {
  display: flex;
  padding-bottom: 10px;
}
.blog .blog-list .article .post-info .date-info .fa-calendar {
  padding-left: 5px !important;
  color: #fd823d;
}
.blog .blog-list .article .post-info .date-info .month {
  padding-left: 15px;
}
.blog .blog-list .article .post-info .date-info .fa-clock-o {
  padding-left: 5px;
  color: #fd823d;
}
.blog .blog-list .article .post-info .author-info .fa-user-o {
  padding-left: 5px;
  color: #fd823d;
}
.blog .blog-list .article .post-info .date {
  padding-left: 15px;
}
.blog .recent-articles .title {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .blog .recent-articles .title h2 {
    padding-right: 15px;
  }
}
.blog .recent-articles .category {
  box-shadow: 0px 4px 8px 3px #9a888814;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 25px;
  border-radius: 10px;
}
.blog .recent-articles .category .fa-calendar {
  color: #fd823d;
  padding-left: 10px;
}
.blog .recent-articles .category .article-image {
  height: 55px !important;
}
.blog .recent-articles .category .article-image img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  border-radius: 10px !important;
}
.blog .recent-articles .category .title {
  margin-top: 0px;
  text-align: justify;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.blog .recent-articles .category .title h2 {
  font-size: 13px;
  font-weight: 500;
}
.blog .recent-articles .category .title h2 a {
  color: #000000;
}
.blog .recent-articles .category .date-info {
  text-align: right;
}
.blog .blog-category .article-image {
  height: 80px;
}
.blog .blog-category .article-image img {
  width: 80px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.blog .faction {
  margin-top: 30px;
  margin-bottom: 60px;
}
.blog .faction .title {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .blog .faction .title h2 {
    padding-right: 15px;
  }
}
.blog .faction .faction-titles {
  box-shadow: 0px 4px 8px 3px #9a888814;
  padding: 15px 0px;
}
.blog .faction .faction-titles ul {
  padding: 0 10px;
}
.blog .faction .faction-titles ul li a {
  color: #000000 !important;
}
.blog .faction .faction-titles ul li a:hover {
  color: #f76310 !important;
}
.blog .blog-category .search {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}
.blog .blog-category .search .title {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .blog .blog-category .search .title h2 {
    padding-right: 15px;
  }
}
.blog .blog-category .search input {
  border: none;
  box-shadow: 0px 0px 5px 2px #9a888814;
  width: 100%;
  height: 40px;
  padding-right: 10px;
  border-radius: 5px;
}
.blog .blog-category .search button {
  position: absolute;
  top: 62%;
  left: 2%;
  border: none;
  background-color: transparent;
  color: #727171;
}

footer .footer {
  background-color: #333333;
}
footer .footer .banner {
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .banner .advertising .advertising-title h2 {
  color: #ffffff;
}
footer .footer .banner .advertising .advertising-desc p {
  color: #939598;
  font-size: 22px;
}
footer .footer .banner .footer-btn {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn {
    justify-content: center;
  }
}
footer .footer .banner .footer-btn a {
  border: 1px solid #939598;
  border-radius: 5px;
  padding: 20px 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn a {
    padding: 15px 30px;
  }
}
footer .footer .banner .footer-btn a:nth-child(1) {
  color: #939598;
}
footer .footer .banner .footer-btn a:nth-child(2) {
  color: #ffffff;
  background-color: #fd823d;
  margin-right: 20px;
  border: none;
}
footer .footer .banner .footer-btn a:nth-child(2):hover {
  background-color: #f76310;
}
footer .footer .footer-body {
  padding-top: 90px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .footer-body .logo {
  margin-top: -50px;
}
footer .footer .footer-body .logo .logo-img {
  height: 150px;
}
footer .footer .footer-body .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footer .footer-body .footer-desc {
  padding-top: 25px;
}
footer .footer .footer-body .footer-desc p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-body .footer-desc p {
    padding: 10px;
    text-align: justify;
  }
}
footer .footer .footer-body .footer-box {
  display: flex;
  justify-content: space-around;
}
footer .footer .footer-body .footer-box .faction-items .faction-title h2 {
  color: #ffffff;
  font-size: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list {
  padding-top: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul {
  padding: 5px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li {
  line-height: 30px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a {
  color: #939598;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a:hover {
  color: #fd823d;
}
footer .footer .footer-body .mark {
  background-color: white;
  height: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
footer .footer .footer-body .mark img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
footer .footer .footer-items {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items {
    display: block;
  }
}
footer .footer .footer-items .footer-copyright {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .footer-copyright {
    text-align: center;
  }
}
footer .footer .footer-items .footer-copyright a {
  color: #ffffff;
}
footer .footer .footer-items .social-media {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .social-media {
    padding-top: 30px;
  }
}
footer .footer .footer-items .social-media i {
  font-size: 28px;
  color: #ffffff;
  padding-right: 30px;
}
footer .footer .footer-items .social-media i:hover {
  color: #fd823d;
}

/*# sourceMappingURL=blog.css.map */
