@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff !important;
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

h1, h2, h3, p {
  text-align: right;
}

ul {
  list-style: none;
}
ul li {
  text-align: right;
  display: flex;
}
strong {
  color: #f76310;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
}
.header .logo .logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .menu nav ul li {
  display: block;
  border-bottom: 3px solid #ffffff;
  width: fit-content;
  padding-bottom: 5px;
}
.header .menu nav ul li a {
  font-size: 14px;
  color: #333333 !important;
}
.header .menu nav ul li p {
  margin-bottom: 0;
  font-size: 12px;
  color: #b3b5b8;
  text-align: center;
  margin-top: -5px;
}
.header .menu nav ul li:hover {
  border-bottom: 3px solid #f76310;
}
.header .login {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.header .login .user-icon svg {
  padding: 4px;
}
.header .login .user-login {
  display: flex;
  align-items: center;
}
.header .login .user-login .membership {
  color: #333333;
}
.header .login .user-login .login-link {
  color: #f76310;
}
.header .basket {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header .basket .basket-icon svg {
  padding: 3px;
}
.header .basket .basket-desc .basket-text p {
  color: #333333;
  margin: 0;
}
.header .basket .basket-desc .price-sum p {
  font-size: 13px;
  margin: 0;
  color: #f76310;
}
.header .order-num {
  position: absolute;
  top: 12%;
  left: 62%;
  color: white;
  background-color: #727171;
  border-radius: 50%;
  padding: 2px 7px 0px 6px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .header .header-desktop {
    display: none;
  }
}
.header .header-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header-mobile {
    display: block;
  }
}
.header .header-mobile .mobile-menu {
  display: flex;
  justify-content: space-around;
}
.header .header-mobile .mobile-menu .top-mobile-menu {
  display: flex;
  align-items: center;
}
.header .header-mobile .mobile-menu .top-mobile-menu .btn-primary {
  background-color: #b3b5b8 !important;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu button {
  display: flex;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .return {
  position: absolute;
  top: 1%;
  left: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog {
  width: 60%;
  height: 100%;
  margin: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content {
  height: 100%;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item {
  text-align: right;
  line-height: 35px;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a {
  color: #333333;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a:hover {
  color: #000;
}

.contact-information .contact-info {
  background-image: url("../../assets/images/bg-contact-left.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}
.contact-information .contact-info .title h2 {
  color: #333333;
  font-size: 25px;
}
.contact-information .contact-info .title-desc p {
  text-align: justify;
  line-height: 35px;
  color: #333333;
  font-size: 16px;
}
.contact-information .contact-info .info ul {
  padding: 0 !important;
}
.contact-information .contact-info .info ul li {
  line-height: 60px;
}
.contact-information .contact-info .info ul li i {
  padding: 15px;
  font-size: 25px;
  margin-left: 15px;
  color: #fd823d;
}
.contact-information .contact-info .info ul li i:hover {
  color: #f76310;
}
.contact-information .contact-info .info ul li p {
  text-align: right;
}
.contact-information .contact-info .social-media ul {
  display: flex;
  padding: 0 !important;
}
.contact-information .contact-info .social-media ul li i {
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  color: #fd823d;
}
.contact-information .contact-info .social-media ul li i:hover {
  color: #f76310;
}
.contact-information .proposal-form {
  padding: 20px;
}
.contact-information .proposal-form .title h2 {
  color: #333333;
  font-size: 25px;
}
.contact-information .proposal-form form {
  text-align: right;
  line-height: 40px;
}
.contact-information .proposal-form form label {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
  color: #333333;
}
.contact-information .proposal-form form input, .contact-information .proposal-form form textarea {
  background-color: #f6f6f6;
  font-size: 15px;
}
.contact-information .proposal-form form input::placeholder {
  color: #b3b5b8;
}
.contact-information .proposal-form form button {
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: #fd823d;
  float: left;
  width: 100%;
  color: #ffffff;
  height: 35px;
}
.contact-information .proposal-form form button:hover {
  background-color: #f76310;
  color: #ffffff;
}

.map .map-info iframe {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer .footer {
  background-color: #333333;
}
footer .footer .banner {
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .banner .advertising .advertising-title h2 {
  color: #ffffff;
}
footer .footer .banner .advertising .advertising-desc p {
  color: #939598;
  font-size: 22px;
}
footer .footer .banner .footer-btn {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn {
    justify-content: center;
  }
}
footer .footer .banner .footer-btn a {
  border: 1px solid #939598;
  border-radius: 5px;
  padding: 20px 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn a {
    padding: 15px 30px;
  }
}
footer .footer .banner .footer-btn a:nth-child(1) {
  color: #939598;
}
footer .footer .banner .footer-btn a:nth-child(2) {
  color: #ffffff;
  background-color: #fd823d;
  margin-right: 20px;
  border: none;
}
footer .footer .banner .footer-btn a:nth-child(2):hover {
  background-color: #f76310;
}
footer .footer .footer-body {
  padding-top: 90px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .footer-body .logo {
  margin-top: -50px;
}
footer .footer .footer-body .logo .logo-img {
  height: 150px;
}
footer .footer .footer-body .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footer .footer-body .footer-desc {
  padding-top: 25px;
}
footer .footer .footer-body .footer-desc p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-body .footer-desc p {
    padding: 10px;
    text-align: justify;
  }
}
footer .footer .footer-body .footer-box {
  display: flex;
  justify-content: space-around;
}
footer .footer .footer-body .footer-box .faction-items .faction-title h2 {
  color: #ffffff;
  font-size: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list {
  padding-top: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul {
  padding: 5px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li {
  line-height: 30px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a {
  color: #939598;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a:hover {
  color: #fd823d;
}
footer .footer .footer-body .mark {
  background-color: white;
  height: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
footer .footer .footer-body .mark img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
footer .footer .footer-items {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items {
    display: block;
  }
}
footer .footer .footer-items .footer-copyright {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .footer-copyright {
    text-align: center;
  }
}
footer .footer .footer-items .footer-copyright a {
  color: #ffffff;
}
footer .footer .footer-items .social-media {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .social-media {
    padding-top: 30px;
  }
}
footer .footer .footer-items .social-media i {
  font-size: 28px;
  color: #ffffff;
  padding-right: 30px;
}
footer .footer .footer-items .social-media i:hover {
  color: #fd823d;
}

/*# sourceMappingURL=contact.css.map */
