@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff !important;
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

h1, h2, h3, p {
  text-align: right;
}

ul {
  list-style: none;
}
ul li {
  text-align: right;
  display: flex;
}
strong {
  color: #f76310;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  position: relative;
}
.header .logo .logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .menu nav ul li {
  display: block;
  border-bottom: 3px solid #ffffff;
  width: fit-content;
  padding-bottom: 5px;
}
.header .menu nav ul li a {
  font-size: 14px;
  color: #333333 !important;
}
.header .menu nav ul li p {
  margin-bottom: 0;
  font-size: 12px;
  color: #b3b5b8;
  text-align: center;
  margin-top: -5px;
}
.header .menu nav ul li:hover {
  border-bottom: 3px solid #f76310;
}
.header .login {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.header .login .user-icon svg {
  padding: 4px;
}
.header .login .user-login {
  display: flex;
  align-items: center;
}
.header .login .user-login .membership {
  color: #333333;
}
.header .login .user-login .login-link {
  color: #f76310;
}
.header .basket {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header .basket .basket-icon svg {
  padding: 3px;
}
.header .basket .basket-desc .basket-text p {
  color: #333333;
  margin: 0;
}
.header .basket .basket-desc .price-sum p {
  font-size: 13px;
  margin: 0;
  color: #f76310;
}
.header .basket .basket-box {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  z-index: 1000;
  border-radius: 10px;
}
.header .basket .basket-box .menu-items .menu-box {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}
.header .basket .basket-box .menu-items .menu-box .menu-item-image img {
  width: 100%;
}
.header .basket .basket-box .menu-items .box-titles .menu-item-box-title h3 a {
  font-size: 20px;
  color: #333333;
}
.header .basket .basket-box .menu-items .box-titles .menu-item-box-decs p {
  font-size: 14px;
  color: #b3b5b8;
}
.header .basket .basket-box .menu-items .cart-basket-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link {
  margin-top: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link a {
  background-color: #fd823d;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  width: fit-content;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link a:hover {
  background-color: #f76310;
}
.header .order-num {
  position: absolute;
  top: 19%;
  left: 65%;
  color: white;
  background-color: #727171;
  border-radius: 50%;
  padding: 2px 7px 0px 6px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .header .header-desktop {
    display: none;
  }
}
.header .header-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header-mobile {
    display: block;
  }
}
.header .header-mobile .mobile-menu {
  display: flex;
  justify-content: space-around;
}
.header .header-mobile .mobile-menu .top-mobile-menu {
  display: flex;
  align-items: center;
}
.header .header-mobile .mobile-menu .top-mobile-menu .btn-primary {
  background-color: #b3b5b8 !important;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu button {
  display: flex;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .return {
  position: absolute;
  top: 1%;
  left: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog {
  width: 60%;
  height: 100%;
  margin: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content {
  height: 100%;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item {
  text-align: right;
  line-height: 35px;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a {
  color: #333333;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a:hover {
  color: #000;
}

.main-teaser {
  background-image: url("../../assets/images/back.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
@media screen and (max-width: 768px) {
  .main-teaser {
    height: auto;
    background-position: 90% 0;
  }
}
.main-teaser .caption {
  width: 62%;
  padding-top: 85px;
}
@media screen and (max-width: 768px) {
  .main-teaser .caption {
    width: 100%;
    padding-top: 30px;
  }
}
.main-teaser .caption .main-title h1 {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .main-teaser .caption .main-title h1 {
    font-size: 25px;
  }
}
.main-teaser .caption .main-desc p {
  line-height: 30px;
  color: #727171;
  padding-top: 25px;
}
.main-teaser .search {
  text-align: right;
  position: relative;
}
.main-teaser .search .search-box .search-box__title input {
  width: 52%;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #b3b5b8;
  padding-right: 15px;
}
@media screen and (max-width: 768px) {
  .main-teaser .search .search-box .search-box__title input {
    width: 100%;
  }
}
.main-teaser .search .search-box .search-box__title input::placeholder {
  color: #b3b5b8;
}
.main-teaser .search .search-box .dropdown {
  position: absolute;
  top: 25%;
  left: 50%;
}
@media screen and (max-width: 768px) {
  .main-teaser .search .search-box .dropdown {
    left: 3%;
  }
}
.main-teaser .search .search-box .dropdown select {
  border: none;
  color: #555555;
  cursor: pointer;
  background-color: #ffffff;
}
.main-teaser .search .search-box .dropdown select option {
  cursor: pointer;
}
.main-teaser .search .search-box button {
  position: absolute;
  top: 0;
  left: 33%;
  height: 55px;
  border-radius: 10px;
  width: fit-content;
  border: none;
  background-color: #fd823d;
  color: #ffffff;
  padding: 0 35px;
}
@media screen and (max-width: 768px) {
  .main-teaser .search .search-box button {
    top: 70px;
    left: 0;
  }
}
.main-teaser .search .search-box button:hover {
  background-color: #f76310;
}
.main-teaser .search .search-box button svg {
  padding: 3px;
  margin-left: 5px;
}
.main-teaser .category {
  padding-top: 95px;
}
.main-teaser .category .category-box {
  background-color: #ffffff;
  border-radius: 10px;
  height: 140px;
  margin-bottom: 20px;
}
.main-teaser .category .category-box:hover {
  border: 2px solid #f76310;
}
.main-teaser .category .category-box:hover .category-img svg g path {
  fill: #f76310 !important;
  stroke: #f76310;
}
.main-teaser .category .category-box:hover .category-img svg path {
  fill: #f76310;
}
.main-teaser .category .category-box:hover .category-caption h3 a {
  color: #f76310;
}
.main-teaser .category .category-box .category-img {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  margin-right: 10px;
  height: 90px;
}
.main-teaser .category .category-box .category-img svg {
  width: 100%;
  padding: 5px;
}
.main-teaser .category .category-box .category-caption h3 a {
  color: #333333;
  font-size: 16px;
  padding-right: 10px;
}

.sale-products {
  padding-top: 60px;
  padding-bottom: 60px;
}
.sale-products .sale-title h2 a {
  color: #333333;
}
.sale-products .sale-slider .slider2 {
  direction: ltr;
}
.sale-products .sale-slider .slider2 .item {
  box-shadow: 0px 4px 8px 3px #9a888814;
  margin: 5px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.sale-products .sale-slider .slider2 .item:hover .add-to-cart {
  display: block;
}
.sale-products .sale-slider .slider2 .item:hover .product-img, .sale-products .sale-slider .slider2 .item:hover .product-title, .sale-products .sale-slider .slider2 .item:hover .product-price {
  opacity: 0.4;
}
.sale-products .sale-slider .slider2 .item .product-img {
  position: relative;
  height: 300px;
}
.sale-products .sale-slider .slider2 .item .product-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.sale-products .sale-slider .slider2 .item .product-title {
  display: flex;
  justify-content: center;
  direction: rtl;
}
.sale-products .sale-slider .slider2 .item .product-title h3 a {
  color: #333333;
  font-size: 20px;
}
.sale-products .sale-slider .slider2 .item .product-price {
  direction: rtl;
  display: flex;
  justify-content: center;
}
.sale-products .sale-slider .slider2 .item .product-price .product-number {
  color: #fd823d;
}
.sale-products .sale-slider .slider2 .item .product-price .product-text {
  color: #b3b5b8;
  padding-right: 5px;
}
.sale-products .sale-slider .slider2 .item .add-to-cart {
  display: none;
  direction: rtl;
}
.sale-products .sale-slider .slider2 .item .add-to-cart a {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 36%;
  left: 15%;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #fd823d;
  border: none;
  color: #ffffff;
}
.sale-products .sale-slider .slider2 .item .add-to-cart a svg {
  margin-left: 5px;
  margin-top: -5px;
}
.sale-products .sale-slider .slider2 .owl-nav {
  display: block;
  position: absolute;
  top: -12%;
  left: 0%;
}
.sale-products .sale-slider .slider2 .owl-nav .owl-prev, .sale-products .sale-slider .slider2 .owl-nav .owl-next {
  border-radius: 50%;
}
.sale-products .sale-slider .slider2 .owl-nav .owl-prev:hover span, .sale-products .sale-slider .slider2 .owl-nav .owl-next:hover span {
  background-color: #fd823d;
  color: #ffffff;
}
.sale-products .sale-slider .slider2 .owl-nav .owl-prev span, .sale-products .sale-slider .slider2 .owl-nav .owl-next span {
  border-radius: 50%;
  padding: 5px 15px;
  background-color: #fafafa;
  color: #727171;
}
.sale-products .sale-slider .slider2 .owl-dots {
  display: none;
}
@media screen and (max-width: 768px) {
  .sale-products .sale-slider .slider2 .owl-dots {
    display: block;
    padding-top: 20px;
  }
}

.kala-press {
  background-color: #fafafa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.kala-press .kala-press-img {
  height: 100%;
  padding-bottom: 20px;
}
.kala-press .kala-press-img img {
  width: 100%;
  height: 100%;
}
.kala-press .kala-press-body .about-us .about-us-title {
  padding-bottom: 10px;
  background-image: url("../../assets/images/Group 585.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
  height: 90px;
}
.kala-press .kala-press-body .about-us .about-us-title h2 {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .kala-press .kala-press-body .about-us .about-us-title {
    padding-top: 20px;
  }
}
.kala-press .kala-press-body .about-us .about-us-desc p {
  padding-top: 10px;
  line-height: 28px;
  color: #727171;
  font-size: 16px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .kala-press .kala-press-body .about-us .about-us-desc p {
    padding-top: 30px;
  }
}
.kala-press .kala-press-body .mission .mission-title {
  padding-bottom: 10px;
}
.kala-press .kala-press-body .mission .mission-desc ul {
  padding: 0;
}
.kala-press .kala-press-body .mission .mission-desc ul li {
  line-height: 26px;
}
.kala-press .kala-press-body .mission .mission-desc ul li i {
  color: #fd823d;
  padding-left: 15px;
  padding-top: 5px;
}
.kala-press .kala-press-body .mission .mission-desc ul li p {
  color: #333333;
}
.kala-press .kala-press-body .see-more {
  text-align: right;
  padding-top: 10px;
}
.kala-press .kala-press-body .see-more a {
  border-radius: 10px;
  padding: 17px 40px;
  color: #ffffff;
  background-color: #fd823d;
  font-size: 20px;
}
.kala-press .kala-press-body .see-more a:hover {
  background-color: #f76310;
}

.product-brands {
  padding-top: 20px;
  padding-bottom: 40px;
}
.product-brands .brand-titr p {
  text-align: center;
  color: #b3b5b8;
  padding-top: 20px;
}
.product-brands .brand-title h2 {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .product-brands .brand-title h2 {
    font-size: 22px;
  }
}
.product-brands .brand-items {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .product-brands .brand-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.product-brands .brand-items .brand-box {
  height: 160px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px 3px #9a888814;
  width: 100%;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .product-brands .brand-items .brand-box {
    margin: 10px 0;
  }
}
.product-brands .brand-items .brand-box:hover {
  border: 2px solid #fd823d;
}
.product-brands .brand-items .brand-box img {
  width: 100%;
  object-fit: contain;
}

footer .footer {
  background-color: #333333;
}
footer .footer .banner {
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .banner .advertising .advertising-title h2 {
  color: #ffffff;
}
footer .footer .banner .advertising .advertising-desc p {
  color: #939598;
  font-size: 22px;
}
footer .footer .banner .footer-btn {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn {
    justify-content: center;
  }
}
footer .footer .banner .footer-btn a {
  border: 1px solid #939598;
  border-radius: 5px;
  padding: 20px 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn a {
    padding: 15px 30px;
  }
}
footer .footer .banner .footer-btn a:nth-child(1) {
  color: #939598;
}
footer .footer .banner .footer-btn a:nth-child(2) {
  color: #ffffff;
  background-color: #fd823d;
  margin-right: 20px;
  border: none;
}
footer .footer .banner .footer-btn a:nth-child(2):hover {
  background-color: #f76310;
}
footer .footer .footer-body {
  padding-top: 90px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .footer-body .logo {
  margin-top: -50px;
}
footer .footer .footer-body .logo .logo-img {
  height: 150px;
}
footer .footer .footer-body .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footer .footer-body .footer-desc {
  padding-top: 25px;
}
footer .footer .footer-body .footer-desc p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-body .footer-desc p {
    padding: 10px;
    text-align: justify;
  }
}
footer .footer .footer-body .footer-box {
  display: flex;
  justify-content: space-around;
}
footer .footer .footer-body .footer-box .faction-items .faction-title h2 {
  color: #ffffff;
  font-size: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list {
  padding-top: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul {
  padding: 5px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li {
  line-height: 30px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a {
  color: #939598;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a:hover {
  color: #fd823d;
}
footer .footer .footer-body .mark {
  background-color: white;
  height: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
footer .footer .footer-body .mark img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
footer .footer .footer-items {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items {
    display: block;
  }
}
footer .footer .footer-items .footer-copyright {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .footer-copyright {
    text-align: center;
  }
}
footer .footer .footer-items .footer-copyright a {
  color: #ffffff;
}
footer .footer .footer-items .social-media {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .social-media {
    padding-top: 30px;
  }
}
footer .footer .footer-items .social-media i {
  font-size: 28px;
  color: #ffffff;
  padding-right: 30px;
}
footer .footer .footer-items .social-media i:hover {
  color: #fd823d;
}

/*# sourceMappingURL=index.css.map */
