$gold: #b59206;
$hovergold:#7e6604;
$darksilver:#727171;
$black: #000000;
$white: #ffffff;
$main-bgcolor:#fff;
$bg-left:#30acb8;
$bg-btn:#30acb8;
$blue:#30acb8;
$blue-hover:#33929c;
$orange:#f76310;
$light-orange:#fd823d;
$silver:#939598;
$light-silver:#b3b5b8;
@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: $main-bgcolor!important;
  height: 100%;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}
h1,h2,h3,p{
  text-align: right;
}
ul{
  list-style: none;
  li{
    text-align: right;
    display: flex;
    a{

    }
  }
}
strong{
  color: $orange;
}
.header{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  position: relative;
  .logo{
    .logo-image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .menu{
    nav{
      ul{
        li{
          display: block;
          border-bottom: 3px solid $white ;
          width: fit-content;
          padding-bottom: 5px;
          a{
            font-size: 14px;
            color: #333333!important;
          }
          p{
            margin-bottom: 0;
            font-size: 12px;
            color: $light-silver;
            text-align: center;
            margin-top: -5px;
          }
          &:hover{
            border-bottom: 3px solid $orange ;
          }
        }
      }
    }
  }
  .login{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    .user-icon{
      svg{
        padding:4px;
      }
    }
    .user-login{
      display: flex;
      align-items: center;
      .membership{
        color: #333333;
      }
      .login-link{
        color: $orange;
      }
    }
  }
  .basket{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    position: relative;
    .basket-icon{
      svg{
        padding: 3px;
      }
    }
    .basket-desc{
      .basket-text{
        p{
          color: #333333;
          margin: 0;
        }
      }
      .price-sum{
        p{
          font-size: 13px;
          margin: 0;
          color: $orange;
        }
      }
    }
    //.cart-basket{
    //  display: block;
    //  position: absolute;
    //  left: 0px;
    //  background-color: white;
    //  width: 350px;
    //  height: 300px;
    //  top: 100%;
    //  .menu-item-image{
    //    img{
    //      width: 100%;
    //    }
    //  }
    //}
    .basket-box{
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      background-color: $white;
      width: 300px;
      height: 300px;
      z-index: 1000;
      border-radius: 10px;
      .menu-items{
        .menu-box{
          border-bottom: 1px solid #e5e5e5;
          padding-top: 10px;
          .menu-item-image{
            img{
              width: 100%;
            }
          }
        }
        .box-titles{
          .menu-item-box-title{
            h3{
              a{
                font-size: 20px;
                color: #333333;
              }
            }
          }
          .menu-item-box-decs{
            p{
              font-size: 14px;
              color: $light-silver;
            }
          }
        }

        .cart-basket-footer{
          display: flex;
          justify-content: space-between;
          padding: 10px;
          .cart-basket-footer-total{
            display: flex;
            justify-content: space-between;
            padding:10px;

          }
          .cart-basket-footer-link{
            margin-top: 10px;
            a{
              background-color: $light-orange;
              color: white;
              padding: 5px 15px;
              border-radius: 5px;
              width: fit-content;
              &:hover{
                background-color: $orange;
              }
            }
          }
        }
      }
    }
  }
  .order-num{
    position: absolute;
    top: 19%;
    left: 65%;
    color: white;
    background-color:$darksilver;
    border-radius: 50%;
    padding: 2px 7px 0px 6px;
    font-size: 12px;
  }
  .header-desktop{
    @media screen and (max-width:768px){
    display: none;
  }
  }
  .header-mobile{
    display: none;
    @media screen and (max-width: 768px){
      display: block;
    }
    .mobile-menu{
      display: flex;
      justify-content: space-around;
      .top-mobile-menu{
        display: flex;
        align-items: center;
        .btn-primary{
          background-color: $light-silver!important;
          border: none;
        }
        button{
          display: flex;
          border: none;
        }
        .modal{
          .return{
            position: absolute;
            top: 1%;
            left: 0;
          }
          .modal-dialog{
            width: 60%;
            height: 100%;
            margin: 0;
            .modal-content{
              height: 100%;
              .modal-body{
                .menu-item{
                  text-align: right;
                  line-height: 35px;
                  a{
                    color: #333333;
                    &:hover{
                      color: #000;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
.main-teaser{
  background-image: url("../../assets/images/back.PNG");
  background-repeat: no-repeat;
background-size: cover;
  height: 700px;
  @media screen and (max-width: 768px){
    height: auto;
    background-position: 90% 0;
  }
  .caption{
    width: 62%;
    padding-top: 85px;
    @media screen and (max-width: 768px){
     width: 100%;
      padding-top: 30px;
    }
    .main-title{
      h1{
        font-size: 30px;
        @media screen and (max-width: 768px){
          font-size: 25px;
        }
      }
    }
    .main-desc{
      p{
        line-height: 30px;
        color: $darksilver;
        padding-top: 25px;
      }
    }
  }
  .search{
    text-align: right;
    position: relative;
    .search-box{
      .search-box__title{

        input{
          width: 52%;
          height: 55px;
          border-radius: 10px;
          border: 2px solid $light-silver;
          padding-right: 15px;
          @media screen and (max-width: 768px){
            width: 100%;
          }
          &::placeholder{
            color:$light-silver ;
          }
        }
      }
      .dropdown{
        position: absolute;
        top: 25%;
        left: 50%;
        @media screen and (max-width: 768px){
          left: 3%;
        }
        select{
          border: none;
          color:#555555;
          cursor: pointer;
          background-color: $white;
          option{
            cursor: pointer;
          }
        }
      }
      button{
        position: absolute;
        top: 0;
        left: 33%;
        height: 55px;
        border-radius: 10px;
        width: fit-content;
        border: none;
        background-color: $light-orange;
        color: $white;
        padding:0 35px;
        @media screen and (max-width: 768px){
          top: 70px;
          left: 0;
        }
        &:hover{
          background-color: $orange;
        }
        svg{
          padding: 3px;
          margin-left: 5px;
        }
      }
    }
  }
  .category{
    padding-top: 95px;
    .category-box{
      background-color: $white;
      border-radius: 10px;
      height: 140px;
      margin-bottom: 20px;
      &:hover{
        border:2px solid $orange;
        .category-img{
          svg{
            g{
              path{
                fill: $orange!important;
                stroke: $orange;
              }
            }

          }
          svg{
              path{
                fill: $orange;
                //stroke: $orange;
              }
          }
        }
        .category-caption{
          h3{
            a{
              color: $orange;
            }
          }
        }
      }
      .category-img{
        display: flex;
        justify-content: flex-start;
        padding-top: 15px;
        margin-right: 10px;
        height: 90px;
    svg{
      width: 100%;
      padding: 5px;
      }
      }
      .category-caption{
        h3{
          a{
            color: #333333;
            font-size: 16px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
.sale-products{
  padding-top: 60px;
  padding-bottom: 60px;
  .sale-title{
h2{
  a{
    color: #333333;
  }
}
  }
  .sale-slider{
    .slider2{
      direction: ltr;
      .item{
        box-shadow: 0px 4px 8px 3px #9a888814;
        margin: 5px;
        padding-bottom: 15px;
        border-radius: 10px;
        &:hover{
          .add-to-cart{
            display: block;
          }
          .product-img ,.product-title ,.product-price{
            opacity: .4;
          }
        }
        .product-img {
          position: relative;
         height: 300px;
          img{
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
        .product-title{
          display: flex;
          justify-content: center;
          direction: rtl;
          h3{
            a{
              color: #333333;
              font-size: 20px;
            }
          }
        }
        .product-price{
          direction: rtl;
          display: flex;
          justify-content: center;
          .product-number{
            color: $light-orange;
          }
          .product-text{
            color: $light-silver;
            padding-right: 5px;
          }
        }
        .add-to-cart{
          display: none;
          direction: rtl;
          a{
            display: flex;
            justify-content: center;
            position: absolute;
            top: 36%;
            left: 15%;
            padding: 15px 25px;
            border-radius: 10px;
            background-color: $light-orange;
            border: none;
            color: $white;
            svg{
              margin-left: 5px;
              margin-top: -5px;
            }
          }
        }
      }
      .owl-nav{
        display: block;
        position: absolute;
        top: -12%;
        left: 0%;
        .owl-prev ,.owl-next{
          border-radius: 50%;
          &:hover{
            span{
              background-color: $light-orange;
              color: $white;
            }
          }
          span{
            border-radius: 50%;
            padding: 5px 15px;
            background-color: #fafafa;
            color: $darksilver;
          }
        }

      }
      .owl-dots{
        display: none;
        @media screen and (max-width: 768px){
          display: block;
          padding-top: 20px;
        }
      }
    }
  }
}
.kala-press{
  background-color: #fafafa;
  padding-top: 80px;
  padding-bottom: 80px;
  .kala-press-img{
    height: 100%;
    padding-bottom: 20px;
    img{
  width: 100%;
      height: 100%;
}
  }
  .kala-press-body{
   .about-us{
  .about-us-title{
     padding-bottom: 10px;
    background-image: url("../../assets/images/Group 585.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 90px;

    h2{
      padding-top: 50px;
    }

    @media screen and (max-width: 768px){
      padding-top: 20px;
    }
  }
  .about-us-desc{
    p{
      padding-top: 10px;
      line-height: 28px;
      color: $darksilver;
      font-size: 16px;
      text-align: justify;
      @media screen and (max-width: 768px){
        padding-top: 30px;
      }
    }
  }
}
    .mission{
      .mission-title{
        padding-bottom: 10px;
      }
      .mission-desc{
        ul{
          padding: 0;
          li{
            line-height: 26px;
            i{
              color: $light-orange;
              padding-left: 15px;
              padding-top: 5px;

            }
            p{
              color: #333333;
            }
          }
        }
      }
    }
    .see-more{
      text-align: right;
      padding-top: 10px;
      a{
        border-radius: 10px;
        padding: 17px 40px;
        color:$white;
        background-color: $light-orange;
        font-size: 20px;
        &:hover{
          background-color: $orange;
        }
       }
    }
  }
}
.product-brands{
  padding-top: 20px;
  padding-bottom: 40px;
  .brand-titr{
    p{
      text-align: center;
      color: $light-silver;
      padding-top: 20px;
    }
  }
  .brand-title{
     h2{
     text-align: center;
       @media screen and (max-width:768px) {
         font-size: 22px;
       }
       }
     }
  .brand-items{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (max-width:768px){
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .brand-box{
      height: 160px;
      display: flex;
      align-items: center;
      box-shadow: 0px 4px 8px 3px #9a888814;
      width: 100%;
      justify-content: center;
      margin: 10px;
      border-radius: 10px;
      @media screen and (max-width:768px){
        margin: 10px 0;
      }
      &:hover{
        border: 2px solid $light-orange;
      }
      img{
        width: 100%;
        object-fit: contain;
      }
    }
  }
  }
footer{
  .footer{
    background-color: #333333;
    .banner{
      padding-top:60px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .advertising{
        .advertising-title{
          h2{
            color: $white;
          }
        }
        .advertising-desc{
          p{
            color: $silver;
            font-size: 22px;
          }
        }
      }
      .footer-btn{
        padding-top: 10px;
        display: flex;
        justify-content:flex-end;
        @media screen and (max-width: 768px){
          justify-content:center;
        }
        a{
          border: 1px solid $silver;
          border-radius: 5px;
          padding: 20px 40px;
          text-align: center;
          @media screen and (max-width: 768px){
            padding: 15px 30px;
          }
        }
        a{
          &:nth-child(1){
            color: $silver;
            &:hover{

            }
          }
        }
        a{
          &:nth-child(2){
            color: $white;
            background-color: $light-orange;
            margin-right: 20px;
            border: none;
            &:hover{
              background-color: $orange;
            }
          }
        }
      }
    }
    .footer-body{
      padding-top:90px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .logo{
        margin-top: -50px;
        .logo-img{
          height: 150px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .footer-desc{
        padding-top: 25px;
        p{
          color: $white;
          @media screen and (max-width:768px){
            padding: 10px;
            text-align: justify;
          }
        }
      }
      .footer-box{
        display: flex;
        justify-content: space-around;

        .faction-items{

          .faction-title{
            h2{
              color: $white;
              font-size: 20px;
            }
          }
          .faction-list{
            padding-top: 20px;
            ul{
              padding: 5px;
              li{
                line-height:30px;
                a{
                  color:$silver;
                  &:hover{
                    color: $light-orange;
                  }
                }
              }
            }
          }
        }

      }
      .mark{
        background-color: white;
        height: 220px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        img{
          width: 100%;
          object-fit: contain;
          height: 100%;
        }
      }
    }
    .footer-items{
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
      @media screen and (max-width: 768px){
        display: block;
      }

      .footer-copyright{
        text-align: right;
        @media screen and (max-width: 768px){
          text-align: center;
        }
        a{
          color: $white;
        }
      }
      .social-media{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 768px){
          padding-top: 30px;
        }
        i{
          font-size: 28px;
          color: $white;
          padding-right: 30px;
          &:hover{
            color: $light-orange;
          }
        }
      }
    }
  }
}