$gold: #b59206;
$hovergold:#7e6604;
$darksilver:#727171;
$black: #000000;
$white: #ffffff;
$main-bgcolor:#fff;
$bg-left:#30acb8;
$bg-btn:#30acb8;
$blue:#30acb8;
$blue-hover:#33929c;
$orange:#f76310;
$light-orange:#fd823d;
$silver:#939598;
$light-silver:#b3b5b8;
@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: $main-bgcolor!important;
  height: 100%;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}
h1,h2,h3,p{
  text-align: right;
}
ul{
  list-style: none;
  li{
    text-align: right;
    display: flex;
    a{

    }
  }
}
.login{
  width:900px;
  margin: 80px auto;
  box-shadow: 0px 0px 10px #eee;
  background-color: $white;
  text-align: right;
  color: $white;
  @media screen and (max-width: 768px){
    width: 350px;
  }
  .right-side{
    background-color: $light-orange;
    height: 100%;
    padding: 40px 50px;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px){
      display: none;
    }
    .caption{
      .title{
        h1{
          font-size: 23px;
        }
      }
      .desc{
        p{
          font-size: 14px;
          padding-top: 20px;
          text-align: justify;
        }
      }
    }
    .logo{
      position: absolute;
      top: 43%;
      left: -12%;
      background-color: $light-orange;
      border-radius: 50%;
      padding: 15px;
      .logo-image{
        height: 48px;
        width: 49px;
        background-color: $white;
        border-radius: 50%;
        padding: 8px;
        img{
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .left-side{
    padding: 30px 60px;
    margin: auto 50px;
    @media screen and (max-width: 768px){
      padding:30px 0;
    }
    .sign-in{
      line-height: 30px;
      label{
        color: $darksilver;
        padding-top: 10px;
      }
      .check-container{
        margin-top: -10px;
        padding-top: 0;
        .d-inline-block{
          padding-top: 0;
        }
      }
      .pass-pos{
        .forgotten-pass{
          text-align: left;
          a{
            font-size: 14px;
            color: $light-orange;
            padding-top:10px;
            &:hover{
              color: $orange;
            }
          }
        }
      }
      .remember-user{

      }
      .sign-up-txt{
        display: flex;
        justify-content: space-between;
        margin-top:15px;
        p{
          color: $darksilver;
          font-size: 14px;
        }
        a{
          color: $light-orange;
          font-size: 14px;
          &:hover{
            color: $orange;
          }
        }
      }
      .form-control{
        font-size: 14px;
        border-radius: 20px;
        padding: 7px 15px;
      }
      .form-control::placeholder{
        color: silver;
      }
      .btn-login{
        .box-btn{
          background-color: $light-orange!important;
          color:$white!important;
          &:hover{
            background-color: $white!important;
            color: $light-orange!important;
          }
        }
        .btn-success{
          width: 100%;
          background-color: $white;
          border: 1px solid $light-orange;
          height: 100%;
          padding: 5px;
          border-radius: 30px;
          color:$light-orange;
          font-size: 15px;
          &:hover{
            background-color: $light-orange;
            color: $white;
          }
        }
      }
    }
  }
}