@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff !important;
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

h1, h2, h3, p {
  text-align: right;
}

ul {
  list-style: none;
}
ul li {
  text-align: right;
  display: flex;
}
.login {
  width: 900px;
  margin: 80px auto;
  box-shadow: 0px 0px 10px #eee;
  background-color: #ffffff;
  text-align: right;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .login {
    width: 350px;
  }
}
.login .right-side {
  background-color: #fd823d;
  height: 100%;
  padding: 40px 50px;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .login .right-side {
    display: none;
  }
}
.login .right-side .caption .title h1 {
  font-size: 23px;
}
.login .right-side .caption .desc p {
  font-size: 14px;
  padding-top: 20px;
  text-align: justify;
}
.login .right-side .logo {
  position: absolute;
  top: 43%;
  left: -12%;
  background-color: #fd823d;
  border-radius: 50%;
  padding: 15px;
}
.login .right-side .logo .logo-image {
  height: 48px;
  width: 49px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 8px;
}
.login .right-side .logo .logo-image img {
  height: 100%;
  width: 100%;
}
.login .left-side {
  padding: 30px 60px;
  margin: auto 50px;
}
@media screen and (max-width: 768px) {
  .login .left-side {
    padding: 30px 0;
  }
}
.login .left-side .sign-in {
  line-height: 30px;
}
.login .left-side .sign-in label {
  color: #727171;
  padding-top: 10px;
}
.login .left-side .sign-in .check-container {
  margin-top: -10px;
  padding-top: 0;
}
.login .left-side .sign-in .check-container .d-inline-block {
  padding-top: 0;
}
.login .left-side .sign-in .pass-pos .forgotten-pass {
  text-align: left;
}
.login .left-side .sign-in .pass-pos .forgotten-pass a {
  font-size: 14px;
  color: #fd823d;
  padding-top: 10px;
}
.login .left-side .sign-in .pass-pos .forgotten-pass a:hover {
  color: #f76310;
}
.login .left-side .sign-in .sign-up-txt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.login .left-side .sign-in .sign-up-txt p {
  color: #727171;
  font-size: 14px;
}
.login .left-side .sign-in .sign-up-txt a {
  color: #fd823d;
  font-size: 14px;
}
.login .left-side .sign-in .sign-up-txt a:hover {
  color: #f76310;
}
.login .left-side .sign-in .form-control {
  font-size: 14px;
  border-radius: 20px;
  padding: 7px 15px;
}
.login .left-side .sign-in .form-control::placeholder {
  color: silver;
}
.login .left-side .sign-in .btn-login .box-btn {
  background-color: #fd823d !important;
  color: #ffffff !important;
}
.login .left-side .sign-in .btn-login .box-btn:hover {
  background-color: #ffffff !important;
  color: #fd823d !important;
}
.login .left-side .sign-in .btn-login .btn-success {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #fd823d;
  height: 100%;
  padding: 5px;
  border-radius: 30px;
  color: #fd823d;
  font-size: 15px;
}
.login .left-side .sign-in .btn-login .btn-success:hover {
  background-color: #fd823d;
  color: #ffffff;
}

/*# sourceMappingURL=login.css.map */
