$gold: #b59206;
$hovergold:#7e6604;
$darksilver:#727171;
$black: #000000;
$white: #ffffff;
$main-bgcolor:#fff;
$bg-left:#30acb8;
$bg-btn:#30acb8;
$blue:#30acb8;
$blue-hover:#33929c;
$orange:#f76310;
$light-orange:#fd823d;
$silver:#939598;
$light-silver:#b3b5b8;
@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: $main-bgcolor!important;
  height: 100%;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}
h1,h2,h3,p{
  text-align: right;
}
ul{
  list-style: none;
  li{
    text-align: right;
    display: flex;
    a{

    }
  }
}
strong{
  color: $orange;
}
.header{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  position: relative;
  .logo{
    .logo-image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .menu{
    nav{
      ul{
        li{
          display: block;
          border-bottom: 3px solid $white ;
          width: fit-content;
          padding-bottom: 5px;
          a{
            font-size: 14px;
            color: #333333!important;
          }
          p{
            margin-bottom: 0;
            font-size: 12px;
            color: $light-silver;
            text-align: center;
            margin-top: -5px;
          }
          &:hover{
            border-bottom: 3px solid $orange ;
          }
        }
      }
    }
  }
  .login{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    .user-icon{
      svg{
        padding:4px;
      }
    }
    .user-login{
      display: flex;
      align-items: center;
      .membership{
        color: #333333;
      }
      .login-link{
        color: $orange;
      }
    }
  }
  .basket{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    position: relative;
    .basket-icon{
      svg{
        padding: 3px;
      }
    }
    .basket-desc{
      .basket-text{
        p{
          color: #333333;
          margin: 0;
        }
      }
      .price-sum{
        p{
          font-size: 13px;
          margin: 0;
          color: $orange;
        }
      }
    }
    //.cart-basket{
    //  display: block;
    //  position: absolute;
    //  left: 0px;
    //  background-color: white;
    //  width: 350px;
    //  height: 300px;
    //  top: 100%;
    //  .menu-item-image{
    //    img{
    //      width: 100%;
    //    }
    //  }
    //}
    .basket-box{
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      background-color: $white;
      width: 300px;
      height: 300px;
      z-index: 1000;
      border-radius: 10px;
      .menu-items{
        .menu-box{
          border-bottom: 1px solid #e5e5e5;
          padding-top: 10px;
          .menu-item-image{
            img{
              width: 100%;
            }
          }
        }
        .box-titles{
          .menu-item-box-title{
            h3{
              a{
                font-size: 20px;
                color: #333333;
              }
            }
          }
          .menu-item-box-decs{
            p{
              font-size: 14px;
              color: $light-silver;
            }
          }
        }

        .cart-basket-footer{
          display: flex;
          justify-content: space-between;
          padding: 10px;
          .cart-basket-footer-total{
            display: flex;
            justify-content: space-between;
            padding:10px;

          }
          .cart-basket-footer-link{
            margin-top: 10px;
            a{
              background-color: $light-orange;
              color: white;
              padding: 5px 15px;
              border-radius: 5px;
              width: fit-content;
              &:hover{
                background-color: $orange;
              }
            }
          }
        }
      }
    }
  }
  .order-num{
    position: absolute;
    top: 19%;
    left: 65%;
    color: white;
    background-color:$darksilver;
    border-radius: 50%;
    padding: 2px 7px 0px 6px;
    font-size: 12px;
  }
  .header-desktop{
    @media screen and (max-width:768px){
      display: none;
    }
  }
  .header-mobile{
    display: none;
    @media screen and (max-width: 768px){
      display: block;
    }
    .mobile-menu{
      display: flex;
      justify-content: space-around;
      .top-mobile-menu{
        display: flex;
        align-items: center;
        .btn-primary{
          background-color: $light-silver!important;
          border: none;
        }
        button{
          display: flex;
          border: none;
        }
        .modal{
          .return{
            position: absolute;
            top: 1%;
            left: 0;
          }
          .modal-dialog{
            width: 60%;
            height: 100%;
            margin: 0;
            .modal-content{
              height: 100%;
              .modal-body{
                .menu-item{
                  text-align: right;
                  line-height: 35px;
                  a{
                    color: #333333;
                    &:hover{
                      color: #000;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
.product{
  padding-top: 50px;
  .product-image{
    box-shadow: 0 3px 6px 1px #e3e3e3;
    border-radius: 10px;
   margin-bottom: 30px;
    #main-goods {
      display: block;
      overflow: hidden;
      width: 100%;
      border-bottom: 2px solid #E7E7E7;

    }

    #bigpics {
      width: max-content;
      display: flex;
      flex-direction: row;
      position: relative;
      transition: all 0.2s;
    }

    #bigpics .bigimg {
      width: 340px;
      height: 250px;
    }

    #smallpics {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 5px;
    }
    #smallpics img {
      margin-right: 5px;
      margin-left: 5px;

    }

    .smallimg {
      cursor: pointer;
    }

    .gray {
      opacity: 0.4;
    }
    #main-goods-desktop {
      overflow: hidden;
      width: 100%;

    }
    @media screen and (max-width:768px){
      .goods-desktop{
        display: block;
      }
    }
    #bigpics-desktop {
      width: max-content;
      display: flex;
      flex-direction: row;
      position: relative;
      transition: all 0.2s;
      margin-top: 20px;
    }

    #bigpics-desktop .bigimg {
      width: 50%;
      height: 350px;
      display: flex;
      justify-content: center;
    }

    #smallpics-desktop {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 5px;
    }
    #smallpics-desktop img {
      margin-right: 5px;
      margin-left: 5px;
      height: 75px;
      border: 1px solid #e2e2e2;
    }

    .specifications-box{
      display: none;
      width: 100%;
    }
    .goods-desktop .specifications-box{
      display: block;
      width: 100%;
    }

  }
  .product-caption{
    box-shadow: 0 3px 6px 1px #e3e3e3;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    .product-title{
    background-color:#d9d9d9;
    padding: 12px 10px 1px 5px;
    border-radius: 10px;
   h1{
     font-size: 25px;
     color: #333333;
   }
  }
    .category{
      display: flex;
      padding-top: 20px;
      a{
        color: $darksilver;
        padding-right: 5px;
      }
    }
    .product-desc{
      margin-top: 10px;
      p{
        color: #333333;
        margin: 0;

      }
    }
    .available{
      p{
        width: fit-content;
        margin: 0;
        border: 1px solid $light-orange;
        color: $light-orange;
        padding: 5px 10px;
      }
    }
    .price-items{
      display: flex;
      margin-top: 30px;
      justify-content: space-between;
      .price-title{
        font-size: 16px;
        color: #333333;
        padding-top: 7px;
      }
      .price-number{
        font-size: 30px;
      }
      .toman{
        margin-top: -10px;
      }
    }
    .product-select{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      margin-bottom: 15px;
      .item{
        .quantity{
          text-align: right;
          display: flex;
          align-items: center;
            justify-content: center;
          .plus-btn ,.minus-btn{
            border: none;
            background-color: $light-orange;
            color: white;
            padding: 5px 7px 0 7px;
            border-radius: 3px;
            &:hover{
              background-color: $orange;
            }
          }
          input{
            width: 25%;
            text-align: center;
            margin: 0 5px;
            border: 1px solid $orange;
            border-radius: 3px;
            height: 29px;
          }
        }

      }
      .add-to-cart{
        a{
          background-color: $light-orange;
          width: fit-content;
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          &:hover{
            background-color: $orange;
          }
          @media screen and (max-width:768px){
            padding: 8px;
            margin: 7px;
          }
        }
        i{
          padding-right: 10px;
        }
      }
    }

  }
  .sidebar{
    box-shadow: 0 3px 6px 1px #e3e3e3;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 15px;
    text-align: right;
    margin-bottom: 30px;
    .icon-box{
      display: flex;
      border-bottom: 1px solid #eaeaea;
      width: fit-content;
      margin-bottom: 10px;
      &:last-child{
      border: none;
      }
      i{
        color: $light-orange;
        padding-left: 10px;

      }
      .icon-content{
        h4{
          font-size: 16px;
        }
        p{
          color: #909090;
          font-size: 14px;
        }
      }
    }
  }
  .tab{
    margin-top: 30px;
    margin-bottom: 30px;
    ul{
      justify-content: center;
      li{
        button{
          color: $orange;
        }
      }
    }
    .tab-analysis{
      height: 1200px;
      img{
        height: 100%;
        width: 100%;
      }
    }
    .tab-content{
      .tab-pane{
        border: 1px solid #e2e6e9;
        padding: 25px 20px;
        p{
          color: #333333;
          line-height: 30px;
        }
      }
    }
    .form{
      text-align: right;
      line-height: 40px;
      button{
        padding: 7px 20px;
        background-color: $light-orange;
        width: fit-content;
        color: white;
        margin-top: 20px;
        &:hover{
          background-color: $orange;
        }
      }
    }
  }
  .product-items{
    padding-top: 60px;
    padding-bottom: 60px;
    .similar-title{
      h2{
        a{
          color: #333333;
        }
      }
    }
    .similar-slider{
      .slider3{
        direction: ltr;
        .item{
          box-shadow: 0px 4px 8px 3px #9a888814;
          margin: 5px;
          padding-bottom: 15px;
          border-radius: 10px;
          .product-img {
            position: relative;
            height: 300px;
            img{
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
          .product-title{
            display: flex;
            justify-content: center;
            direction: rtl;
            h3{
              a{
                color: #333333;
                font-size: 20px;
              }
            }
          }
          .product-price{
            direction: rtl;
            display: flex;
            justify-content: center;
            .product-number{
              color: $light-orange;
            }
            .product-text{
              color: $light-silver;
              padding-right: 5px;
            }
          }
          .add-to-cart{
            display: none;
            direction: rtl;
            a{
              display: flex;
              justify-content: center;
              position: absolute;
              top: 36%;
              left: 15%;
              padding: 15px 25px;
              border-radius: 10px;
              background-color: $light-orange;
              border: none;
              color: $white;
              svg{
                margin-left: 5px;
                margin-top: -5px;
              }
            }
          }
        }
        .owl-nav{
          display: block;
          position: absolute;
          top: -12%;
          left: 0%;
          .owl-prev ,.owl-next{
            border-radius: 50%;
            &:hover{
              span{
                background-color: $light-orange;
                color: $white;
              }
            }
            span{
              border-radius: 50%;
              padding: 5px 15px;
              background-color: #fafafa;
              color: $darksilver;
            }
          }

        }
        .owl-dots{
          display: none;
          @media screen and (max-width: 768px){
            display: block;
            padding-top: 20px;
          }
        }
      }
    }
  }
}
footer{
  .footer{
    background-color: #333333;
    .banner{
      padding-top:60px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .advertising{
        .advertising-title{
          h2{
            color: $white;
          }
        }
        .advertising-desc{
          p{
            color: $silver;
            font-size: 22px;
          }
        }
      }
      .footer-btn{
        padding-top: 10px;
        display: flex;
        justify-content:flex-end;
        @media screen and (max-width: 768px){
          justify-content:center;
        }
        a{
          border: 1px solid $silver;
          border-radius: 5px;
          padding: 20px 40px;
          text-align: center;
          @media screen and (max-width: 768px){
            padding: 15px 30px;
          }
        }
        a{
          &:nth-child(1){
            color: $silver;
            &:hover{

            }
          }
        }
        a{
          &:nth-child(2){
            color: $white;
            background-color: $light-orange;
            margin-right: 20px;
            border: none;
            &:hover{
              background-color: $orange;
            }
          }
        }
      }
    }
    .footer-body{
      padding-top:90px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .logo{
        margin-top: -50px;
        .logo-img{
          height: 150px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .footer-desc{
        padding-top: 25px;
        p{
          color: $white;
          @media screen and (max-width:768px){
            padding: 10px;
            text-align: justify;
          }
        }
      }
      .footer-box{
        display: flex;
        justify-content: space-around;

        .faction-items{

          .faction-title{
            h2{
              color: $white;
              font-size: 20px;
            }
          }
          .faction-list{
            padding-top: 20px;
            ul{
              padding: 5px;
              li{
                line-height:30px;
                a{
                  color:$silver;
                  &:hover{
                    color: $light-orange;
                  }
                }
              }
            }
          }
        }

      }
      .mark{
        background-color: white;
        height: 220px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        img{
          width: 100%;
          object-fit: contain;
          height: 100%;
        }
      }
    }
    .footer-items{
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
      @media screen and (max-width: 768px){
        display: block;
      }

      .footer-copyright{
        text-align: right;
        @media screen and (max-width: 768px){
          text-align: center;
        }
        a{
          color: $white;
        }
      }
      .social-media{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 768px){
          padding-top: 30px;
        }
        i{
          font-size: 28px;
          color: $white;
          padding-right: 30px;
          &:hover{
            color: $light-orange;
          }
        }
      }
    }
  }
}