@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff !important;
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

h1, h2, h3, p {
  text-align: right;
}

ul {
  list-style: none;
}
ul li {
  text-align: right;
  display: flex;
}
strong {
  color: #f76310;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  position: relative;
}
.header .logo .logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .menu nav ul li {
  display: block;
  border-bottom: 3px solid #ffffff;
  width: fit-content;
  padding-bottom: 5px;
}
.header .menu nav ul li a {
  font-size: 14px;
  color: #333333 !important;
}
.header .menu nav ul li p {
  margin-bottom: 0;
  font-size: 12px;
  color: #b3b5b8;
  text-align: center;
  margin-top: -5px;
}
.header .menu nav ul li:hover {
  border-bottom: 3px solid #f76310;
}
.header .login {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.header .login .user-icon svg {
  padding: 4px;
}
.header .login .user-login {
  display: flex;
  align-items: center;
}
.header .login .user-login .membership {
  color: #333333;
}
.header .login .user-login .login-link {
  color: #f76310;
}
.header .basket {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header .basket .basket-icon svg {
  padding: 3px;
}
.header .basket .basket-desc .basket-text p {
  color: #333333;
  margin: 0;
}
.header .basket .basket-desc .price-sum p {
  font-size: 13px;
  margin: 0;
  color: #f76310;
}
.header .basket .basket-box {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  z-index: 1000;
  border-radius: 10px;
}
.header .basket .basket-box .menu-items .menu-box {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}
.header .basket .basket-box .menu-items .menu-box .menu-item-image img {
  width: 100%;
}
.header .basket .basket-box .menu-items .box-titles .menu-item-box-title h3 a {
  font-size: 20px;
  color: #333333;
}
.header .basket .basket-box .menu-items .box-titles .menu-item-box-decs p {
  font-size: 14px;
  color: #b3b5b8;
}
.header .basket .basket-box .menu-items .cart-basket-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link {
  margin-top: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link a {
  background-color: #fd823d;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  width: fit-content;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link a:hover {
  background-color: #f76310;
}
.header .order-num {
  position: absolute;
  top: 19%;
  left: 65%;
  color: white;
  background-color: #727171;
  border-radius: 50%;
  padding: 2px 7px 0px 6px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .header .header-desktop {
    display: none;
  }
}
.header .header-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header-mobile {
    display: block;
  }
}
.header .header-mobile .mobile-menu {
  display: flex;
  justify-content: space-around;
}
.header .header-mobile .mobile-menu .top-mobile-menu {
  display: flex;
  align-items: center;
}
.header .header-mobile .mobile-menu .top-mobile-menu .btn-primary {
  background-color: #b3b5b8 !important;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu button {
  display: flex;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .return {
  position: absolute;
  top: 1%;
  left: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog {
  width: 60%;
  height: 100%;
  margin: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content {
  height: 100%;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item {
  text-align: right;
  line-height: 35px;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a {
  color: #333333;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a:hover {
  color: #000;
}

.product {
  padding-top: 50px;
}
.product .product-image {
  box-shadow: 0 3px 6px 1px #e3e3e3;
  border-radius: 10px;
  margin-bottom: 30px;
}
.product .product-image #main-goods {
  display: block;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid #E7E7E7;
}
.product .product-image #bigpics {
  width: max-content;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.2s;
}
.product .product-image #bigpics .bigimg {
  width: 340px;
  height: 250px;
}
.product .product-image #smallpics {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}
.product .product-image #smallpics img {
  margin-right: 5px;
  margin-left: 5px;
}
.product .product-image .smallimg {
  cursor: pointer;
}
.product .product-image .gray {
  opacity: 0.4;
}
.product .product-image #main-goods-desktop {
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .product .product-image .goods-desktop {
    display: block;
  }
}
.product .product-image #bigpics-desktop {
  width: max-content;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: all 0.2s;
  margin-top: 20px;
}
.product .product-image #bigpics-desktop .bigimg {
  width: 50%;
  height: 350px;
  display: flex;
  justify-content: center;
}
.product .product-image #smallpics-desktop {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}
.product .product-image #smallpics-desktop img {
  margin-right: 5px;
  margin-left: 5px;
  height: 75px;
  border: 1px solid #e2e2e2;
}
.product .product-image .specifications-box {
  display: none;
  width: 100%;
}
.product .product-image .goods-desktop .specifications-box {
  display: block;
  width: 100%;
}
.product .product-caption {
  box-shadow: 0 3px 6px 1px #e3e3e3;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.product .product-caption .product-title {
  background-color: #d9d9d9;
  padding: 12px 10px 1px 5px;
  border-radius: 10px;
}
.product .product-caption .product-title h1 {
  font-size: 25px;
  color: #333333;
}
.product .product-caption .category {
  display: flex;
  padding-top: 20px;
}
.product .product-caption .category a {
  color: #727171;
  padding-right: 5px;
}
.product .product-caption .product-desc {
  margin-top: 10px;
}
.product .product-caption .product-desc p {
  color: #333333;
  margin: 0;
}
.product .product-caption .available p {
  width: fit-content;
  margin: 0;
  border: 1px solid #fd823d;
  color: #fd823d;
  padding: 5px 10px;
}
.product .product-caption .price-items {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.product .product-caption .price-items .price-title {
  font-size: 16px;
  color: #333333;
  padding-top: 7px;
}
.product .product-caption .price-items .price-number {
  font-size: 30px;
}
.product .product-caption .price-items .toman {
  margin-top: -10px;
}
.product .product-caption .product-select {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 15px;
}
.product .product-caption .product-select .item .quantity {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .product-caption .product-select .item .quantity .plus-btn, .product .product-caption .product-select .item .quantity .minus-btn {
  border: none;
  background-color: #fd823d;
  color: white;
  padding: 5px 7px 0 7px;
  border-radius: 3px;
}
.product .product-caption .product-select .item .quantity .plus-btn:hover, .product .product-caption .product-select .item .quantity .minus-btn:hover {
  background-color: #f76310;
}
.product .product-caption .product-select .item .quantity input {
  width: 25%;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #f76310;
  border-radius: 3px;
  height: 29px;
}
.product .product-caption .product-select .add-to-cart a {
  background-color: #fd823d;
  width: fit-content;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.product .product-caption .product-select .add-to-cart a:hover {
  background-color: #f76310;
}
@media screen and (max-width: 768px) {
  .product .product-caption .product-select .add-to-cart a {
    padding: 8px;
    margin: 7px;
  }
}
.product .product-caption .product-select .add-to-cart i {
  padding-right: 10px;
}
.product .sidebar {
  box-shadow: 0 3px 6px 1px #e3e3e3;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 15px;
  text-align: right;
  margin-bottom: 30px;
}
.product .sidebar .icon-box {
  display: flex;
  border-bottom: 1px solid #eaeaea;
  width: fit-content;
  margin-bottom: 10px;
}
.product .sidebar .icon-box:last-child {
  border: none;
}
.product .sidebar .icon-box i {
  color: #fd823d;
  padding-left: 10px;
}
.product .sidebar .icon-box .icon-content h4 {
  font-size: 16px;
}
.product .sidebar .icon-box .icon-content p {
  color: #909090;
  font-size: 14px;
}
.product .tab {
  margin-top: 30px;
  margin-bottom: 30px;
}
.product .tab ul {
  justify-content: center;
}
.product .tab ul li button {
  color: #f76310;
}
.product .tab .tab-analysis {
  height: 1200px;
}
.product .tab .tab-analysis img {
  height: 100%;
  width: 100%;
}
.product .tab .tab-content .tab-pane {
  border: 1px solid #e2e6e9;
  padding: 25px 20px;
}
.product .tab .tab-content .tab-pane p {
  color: #333333;
  line-height: 30px;
}
.product .tab .form {
  text-align: right;
  line-height: 40px;
}
.product .tab .form button {
  padding: 7px 20px;
  background-color: #fd823d;
  width: fit-content;
  color: white;
  margin-top: 20px;
}
.product .tab .form button:hover {
  background-color: #f76310;
}
.product .product-items {
  padding-top: 60px;
  padding-bottom: 60px;
}
.product .product-items .similar-title h2 a {
  color: #333333;
}
.product .product-items .similar-slider .slider3 {
  direction: ltr;
}
.product .product-items .similar-slider .slider3 .item {
  box-shadow: 0px 4px 8px 3px #9a888814;
  margin: 5px;
  padding-bottom: 15px;
  border-radius: 10px;
}
.product .product-items .similar-slider .slider3 .item .product-img {
  position: relative;
  height: 300px;
}
.product .product-items .similar-slider .slider3 .item .product-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.product .product-items .similar-slider .slider3 .item .product-title {
  display: flex;
  justify-content: center;
  direction: rtl;
}
.product .product-items .similar-slider .slider3 .item .product-title h3 a {
  color: #333333;
  font-size: 20px;
}
.product .product-items .similar-slider .slider3 .item .product-price {
  direction: rtl;
  display: flex;
  justify-content: center;
}
.product .product-items .similar-slider .slider3 .item .product-price .product-number {
  color: #fd823d;
}
.product .product-items .similar-slider .slider3 .item .product-price .product-text {
  color: #b3b5b8;
  padding-right: 5px;
}
.product .product-items .similar-slider .slider3 .item .add-to-cart {
  display: none;
  direction: rtl;
}
.product .product-items .similar-slider .slider3 .item .add-to-cart a {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 36%;
  left: 15%;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #fd823d;
  border: none;
  color: #ffffff;
}
.product .product-items .similar-slider .slider3 .item .add-to-cart a svg {
  margin-left: 5px;
  margin-top: -5px;
}
.product .product-items .similar-slider .slider3 .owl-nav {
  display: block;
  position: absolute;
  top: -12%;
  left: 0%;
}
.product .product-items .similar-slider .slider3 .owl-nav .owl-prev, .product .product-items .similar-slider .slider3 .owl-nav .owl-next {
  border-radius: 50%;
}
.product .product-items .similar-slider .slider3 .owl-nav .owl-prev:hover span, .product .product-items .similar-slider .slider3 .owl-nav .owl-next:hover span {
  background-color: #fd823d;
  color: #ffffff;
}
.product .product-items .similar-slider .slider3 .owl-nav .owl-prev span, .product .product-items .similar-slider .slider3 .owl-nav .owl-next span {
  border-radius: 50%;
  padding: 5px 15px;
  background-color: #fafafa;
  color: #727171;
}
.product .product-items .similar-slider .slider3 .owl-dots {
  display: none;
}
@media screen and (max-width: 768px) {
  .product .product-items .similar-slider .slider3 .owl-dots {
    display: block;
    padding-top: 20px;
  }
}

footer .footer {
  background-color: #333333;
}
footer .footer .banner {
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .banner .advertising .advertising-title h2 {
  color: #ffffff;
}
footer .footer .banner .advertising .advertising-desc p {
  color: #939598;
  font-size: 22px;
}
footer .footer .banner .footer-btn {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn {
    justify-content: center;
  }
}
footer .footer .banner .footer-btn a {
  border: 1px solid #939598;
  border-radius: 5px;
  padding: 20px 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn a {
    padding: 15px 30px;
  }
}
footer .footer .banner .footer-btn a:nth-child(1) {
  color: #939598;
}
footer .footer .banner .footer-btn a:nth-child(2) {
  color: #ffffff;
  background-color: #fd823d;
  margin-right: 20px;
  border: none;
}
footer .footer .banner .footer-btn a:nth-child(2):hover {
  background-color: #f76310;
}
footer .footer .footer-body {
  padding-top: 90px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .footer-body .logo {
  margin-top: -50px;
}
footer .footer .footer-body .logo .logo-img {
  height: 150px;
}
footer .footer .footer-body .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footer .footer-body .footer-desc {
  padding-top: 25px;
}
footer .footer .footer-body .footer-desc p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-body .footer-desc p {
    padding: 10px;
    text-align: justify;
  }
}
footer .footer .footer-body .footer-box {
  display: flex;
  justify-content: space-around;
}
footer .footer .footer-body .footer-box .faction-items .faction-title h2 {
  color: #ffffff;
  font-size: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list {
  padding-top: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul {
  padding: 5px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li {
  line-height: 30px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a {
  color: #939598;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a:hover {
  color: #fd823d;
}
footer .footer .footer-body .mark {
  background-color: white;
  height: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
footer .footer .footer-body .mark img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
footer .footer .footer-items {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items {
    display: block;
  }
}
footer .footer .footer-items .footer-copyright {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .footer-copyright {
    text-align: center;
  }
}
footer .footer .footer-items .footer-copyright a {
  color: #ffffff;
}
footer .footer .footer-items .social-media {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .social-media {
    padding-top: 30px;
  }
}
footer .footer .footer-items .social-media i {
  font-size: 28px;
  color: #ffffff;
  padding-right: 30px;
}
footer .footer .footer-items .social-media i:hover {
  color: #fd823d;
}

/*# sourceMappingURL=product.css.map */
