$gold: #b59206;
$hovergold:#7e6604;
$darksilver:#727171;
$black: #000000;
$white: #ffffff;
$main-bgcolor:#fff;
$bg-left:#30acb8;
$bg-btn:#30acb8;
$blue:#30acb8;
$blue-hover:#33929c;
$orange:#f76310;
$light-orange:#fd823d;
$silver:#939598;
$light-silver:#b3b5b8;
@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: $main-bgcolor!important;
  height: 100%;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none !important;
  }
}
h1,h2,h3,p{
  text-align: right;
}
ul{
  list-style: none;
  padding: 0;
  li{
    text-align: right;
    a{

    }
  }
}
strong{
  color: $orange;
}
.header{
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  position: relative;
  .logo{
    .logo-image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .menu{
    nav{
      ul{
        li{
          display: block;
          border-bottom: 3px solid $white ;
          width: fit-content;
          padding-bottom: 5px;
          a{
            font-size: 14px;
            color: #333333!important;
          }
          p{
            margin-bottom: 0;
            font-size: 12px;
            color: $light-silver;
            text-align: center;
            margin-top: -5px;
          }
          &:hover{
            border-bottom: 3px solid $orange ;
          }
        }
      }
    }
  }
  .login{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    .user-icon{
      svg{
        padding:4px;
      }
    }
    .user-login{
      display: flex;
      align-items: center;
      .membership{
        color: #333333;
      }
      .login-link{
        color: $orange;
      }
    }
  }
  .basket{
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    position: relative;
    .basket-icon{
      svg{
        padding: 3px;
      }
    }
    .basket-desc{
      .basket-text{
        p{
          color: #333333;
          margin: 0;
        }
      }
      .price-sum{
        p{
          font-size: 13px;
          margin: 0;
          color: $orange;
        }
      }
    }
    //.cart-basket{
    //  display: block;
    //  position: absolute;
    //  left: 0px;
    //  background-color: white;
    //  width: 350px;
    //  height: 300px;
    //  top: 100%;
    //  .menu-item-image{
    //    img{
    //      width: 100%;
    //    }
    //  }
    //}
    .basket-box{
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      background-color: $white;
      width: 300px;
      height: 300px;
      z-index: 1000;
      border-radius: 10px;
      .menu-items{
        .menu-box{
          border-bottom: 1px solid #e5e5e5;
          padding-top: 10px;
          .menu-item-image{
            img{
              width: 100%;
            }
          }
        }
        .box-titles{
          .menu-item-box-title{
            h3{
              a{
                font-size: 20px;
                color: #333333;
              }
            }
          }
          .menu-item-box-decs{
            p{
              font-size: 14px;
              color: $light-silver;
            }
          }
        }

        .cart-basket-footer{
          display: flex;
          justify-content: space-between;
          padding: 10px;
          .cart-basket-footer-total{
            display: flex;
            justify-content: space-between;
            padding:10px;

          }
          .cart-basket-footer-link{
            margin-top: 10px;
            a{
              background-color: $light-orange;
              color: white;
              padding: 5px 15px;
              border-radius: 5px;
              width: fit-content;
              &:hover{
                background-color: $orange;
              }
            }
          }
        }
      }
    }
  }
  .order-num{
    position: absolute;
    top: 19%;
    left: 65%;
    color: white;
    background-color:$darksilver;
    border-radius: 50%;
    padding: 2px 7px 0px 6px;
    font-size: 12px;
  }
  .header-desktop{
    @media screen and (max-width:768px){
      display: none;
    }
  }
  .header-mobile{
    display: none;
    @media screen and (max-width: 768px){
      display: block;
    }
    .mobile-menu{
      display: flex;
      justify-content: space-around;
      .top-mobile-menu{
        display: flex;
        align-items: center;
        .btn-primary{
          background-color: $light-silver!important;
          border: none;
        }
        button{
          display: flex;
          border: none;
        }
        .modal{
          .return{
            position: absolute;
            top: 1%;
            left: 0;
          }
          .modal-dialog{
            width: 60%;
            height: 100%;
            margin: 0;
            .modal-content{
              height: 100%;
              .modal-body{
                .menu-item{
                  text-align: right;
                  line-height: 35px;
                  a{
                    color: #333333;
                    &:hover{
                      color: #000;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
.store{
  padding-top: 30px;
  padding-bottom: 30px;
  .faction{
    margin-bottom: 30px;
    .faction-title{
h2{
  color: #333333;
  font-size: 25px;
  font-weight: bold;
}
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        line-height: 35px;
     a{
       color: #828282;
       &:hover{
         color: $light-orange;
       }
     }
      }
    }
    button{
      color: $orange;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content:flex-start;

    }
  }
  .products-filter{
    .filter-title{
      h1{
  color: #333333;
  font-size: 30px;
}
    }
    .filter-desc{
      p{
        color: #515151;
      }
    }
    .search-all{
      text-align: right;
      margin-top: 20px;
      margin-bottom: 30px;
      position: relative;
      input{
        width: 50%;
        border: 1px solid #b3b5b8;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 4px 10px;
        @media screen and (max-width: 768px){
          width: 100%;
        }
        &::placeholder{
          color: $darksilver;
          font-size: 14px;
        }
      }
      i{
        position: absolute;
        top: 20%;
        left: 51%;
        color: $darksilver;
        @media screen and (max-width: 768px){
          left:5%;
        }
      }
    }
    .filter-desc{
      text-align: right;
    }
    .filter-types{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      @media screen and (max-width:768px){
        display: block;
      }
      .sidebar_item{
        z-index: 1;
        position: relative;
        @media screen and (max-width: 768px){
          margin-bottom: 30px;
        }
        .sidebar_header {
            text-align: right;
          a{
            padding: 10px 15px;
            width: fit-content;
            border-radius: 5px;
            color: $darksilver;
            border: 1px solid $light-silver;
            &:hover{
              border: 1px solid $light-orange;
            }
           i{
             padding-right: 5px;
           }
          }

        }
        .sidebar_body{
          width: 250px;
          height: 320px;
          border-radius: 10px;
          background-color: white;
          box-shadow: 0 12px 20px rgb(0 0 0 / 8%), 0 4px 8px rgb(0 0 0 / 4%), 0 0 16px rgb(0 0 0 / 6%);
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          margin-top: 20px;
          text-align: center;
          padding-top:20px;
          @media screen and (max-width: 768px){
            position: static;
          }
          .sidebar-search{
            input{
              background-color: #f4f4f4;
              border: none;
              padding: 3px 10px;
              border-radius: 20px;
              position: relative;
              width: 93%;
              &::placeholder{
                color: $light-silver;
                font-size: 14px;
              }
            }
            .fa-search{
              position: absolute;
              top: 8%;
              left: 9%;
              color: $darksilver;
              font-size: 15px;
              @media screen and (max-width: 768px){
                position: absolute;
               margin-top: 42px;
                left: 46%;
              }
            }
          }
          ul {
            padding:15px;
            li{
              a{
                color: #333333;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 16px;
                i{

                }
              }
              ul{
                padding-right: 0;
                li{
                  line-height: 30px;
                  a{
                    color: #727272;
                    display: block;
                    font-size: 14px;
                    span{
                      padding-right: 5px;
                    }

                  }
                }
              }
            }
          }
        }
      }
    }

  }
  .products-items{
    margin-top: 30px;
      .tab{
        .accordion-body{
          @media screen and (max-width: 768px){
            padding: 20px 5px;
          }
          padding: 20px 5px;
        }
        .nav-link.active{
          color: $orange;
        }
        .nav-link{
          color: $darksilver;
        }
        ul{
          justify-content: flex-end;
        }
       .tab-content {
         .product-box-vertical {
           .product-box {
             box-shadow: 0px 0px 5px 2px #a0a0a026;
             padding: 10px;
             border-radius: 10px;
             margin-bottom: 30px;
             .item-image {
               height: 200px;

               img {
                 height: 100%;
                 width: 100%;
                 object-fit: cover;
               }
             }
             .specifications-box{
               .specifications-desc{
                  p{
                    color: $light-silver;
                  }
                }
               .product-name {
                 h3 {
                   text-align: center;

                   a {
                     color: #333333;
                     font-size: 20px;
                     @media screen and (max-width: 768px){
                       font-size: 16px;
                     }
                   }
                 }
               }
               .stars{
                 .fa-star:first-child{
                   color: $gold;
                 }
               }
               .item-price {
                 display: flex;
                 justify-content: center;
               }
               .add-to-cart {
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 border-top: 1px solid #e4e4e4;
                 padding-top: 10px;

                .cart-icon {
                svg {
                  height: 35px;
                  width: 35px;
                  border-radius: 50%;
                  background-color:$light-orange;
                  padding: 3px;
                  @media screen  and (max-width: 768px){
                    height: 30px;
                    width: 30px;
                  }
                  &:hover{
                    background-color: $orange;
                  }
                }
              }
                 .view-product{
                   a{
                     color:$light-orange;
                     font-size: 16px;
                     @media screen and (max-width: 768px){
                       font-size: 11px;
                       padding-right: 5px;
                     }

                     &:hover{
                       color: $orange;
                     }
                     i{
                       padding-right: 5px;
                       font-size: 13px;
                       @media screen and (max-width: 768px) {
                      font-size: 10px;
                       }
                     }
                   }
                 }
               }
              }

           }
         }
         .product-box-horizontal{
           .product-box {
             box-shadow: 0px 0px 5px 2px #a0a0a026;
             padding: 10px;
             border-radius: 10px;
             margin-bottom: 30px;

             .item-image {
               height: 200px;

               img {
                 height: 100%;
                 width: 100%;
                 object-fit: cover;
               }
             }
              .specifications-box{
               .product-name {
                 h3 {
                   text-align: right;

                   a {
                     color: #333333;
                     font-size: 22px;
                   }
                 }
               }
                .specifications-desc{
                  p{
                    color: $light-silver;
                    font-size: 16px;
                  }
                }
               .item-price {
                 display: flex;
                 justify-content: flex-start;
               }
                .add-to-cart {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  border-top: 1px solid #e4e4e4;
                  padding-top: 10px;
                  margin-top: 50px;
                  .cart-icon {
                    svg {
                      height: 35px;
                      width: 35px;
                      border-radius: 50%;
                      background-color: #fd823d;
                      padding: 3px;
                    }
                  }
                  .view-product{
                    a{
                      color:$orange;
                      font-size: 16px;
                      i{
                        padding-right: 5px;
                        font-size: 13px;
                      }
                    }
                  }
                }
             }
           }
         }
       }
      }
  }
}


footer{
  .footer{
    background-color: #333333;
    .banner{
      padding-top:60px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .advertising{
        .advertising-title{
          h2{
            color: $white;
          }
        }
        .advertising-desc{
          p{
            color: $silver;
            font-size: 22px;
          }
        }
      }
      .footer-btn{
        padding-top: 10px;
        display: flex;
        justify-content:flex-end;
        @media screen and (max-width: 768px){
          justify-content:center;
        }
        a{
          border: 1px solid $silver;
          border-radius: 5px;
          padding: 20px 40px;
          text-align: center;
          @media screen and (max-width: 768px){
            padding: 15px 30px;
          }
        }
        a{
          &:nth-child(1){
            color: $silver;
            &:hover{

            }
          }
        }
        a{
          &:nth-child(2){
            color: $white;
            background-color: $light-orange;
            margin-right: 20px;
            border: none;
            &:hover{
              background-color: $orange;
            }
          }
        }
      }
    }
    .footer-body{
      padding-top:90px;
      padding-bottom: 20px;
      border-bottom: 1px solid $silver;
      .logo{
        margin-top: -50px;
        .logo-img{
          height: 150px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .footer-desc{
        padding-top: 25px;
        p{
          color: $white;
          @media screen and (max-width:768px){
            padding: 10px;
            text-align: justify;
          }
        }
      }
      .footer-box{
        display: flex;
        justify-content: space-around;

        .faction-items{

          .faction-title{
            h2{
              color: $white;
              font-size: 20px;
            }
          }
          .faction-list{
            padding-top: 20px;
            ul{
              padding: 5px;
              li{
                line-height:30px;
                a{
                  color:$silver;
                  &:hover{
                    color: $light-orange;
                  }
                }
              }
            }
          }
        }

      }
      .mark{
        background-color: white;
        height: 220px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        img{
          width: 100%;
          object-fit: contain;
          height: 100%;
        }
      }
    }
    .footer-items{
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
      @media screen and (max-width: 768px){
        display: block;
      }

      .footer-copyright{
        text-align: right;
        @media screen and (max-width: 768px){
          text-align: center;
        }
        a{
          color: $white;
        }
      }
      .social-media{
        display: flex;
        justify-content: center;
        @media screen and (max-width: 768px){
          padding-top: 30px;
        }
        i{
          font-size: 28px;
          color: $white;
          padding-right: 30px;
          &:hover{
            color: $light-orange;
          }
        }
      }
    }
  }
}