@import url("../../assets/fonts/fontawesome-free-5.15.4-web/css/all.css");
@import url("../../assets/fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: YekanBakh;
  src: url("../../assets/fonts/YekanBakh-Bold.woff");
  font-weight: normal;
}
@font-face {
  font-family: YekanBakh;
  font-weight: normal;
}
body {
  direction: rtl;
  font-family: YekanBakh !important;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff !important;
  height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

h1, h2, h3, p {
  text-align: right;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  text-align: right;
}
strong {
  color: #f76310;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 7px 7px -6px #c1c0c0;
  margin-bottom: 5px;
  position: relative;
}
.header .logo .logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .menu nav ul li {
  display: block;
  border-bottom: 3px solid #ffffff;
  width: fit-content;
  padding-bottom: 5px;
}
.header .menu nav ul li a {
  font-size: 14px;
  color: #333333 !important;
}
.header .menu nav ul li p {
  margin-bottom: 0;
  font-size: 12px;
  color: #b3b5b8;
  text-align: center;
  margin-top: -5px;
}
.header .menu nav ul li:hover {
  border-bottom: 3px solid #f76310;
}
.header .login {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}
.header .login .user-icon svg {
  padding: 4px;
}
.header .login .user-login {
  display: flex;
  align-items: center;
}
.header .login .user-login .membership {
  color: #333333;
}
.header .login .user-login .login-link {
  color: #f76310;
}
.header .basket {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.header .basket .basket-icon svg {
  padding: 3px;
}
.header .basket .basket-desc .basket-text p {
  color: #333333;
  margin: 0;
}
.header .basket .basket-desc .price-sum p {
  font-size: 13px;
  margin: 0;
  color: #f76310;
}
.header .basket .basket-box {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  z-index: 1000;
  border-radius: 10px;
}
.header .basket .basket-box .menu-items .menu-box {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}
.header .basket .basket-box .menu-items .menu-box .menu-item-image img {
  width: 100%;
}
.header .basket .basket-box .menu-items .box-titles .menu-item-box-title h3 a {
  font-size: 20px;
  color: #333333;
}
.header .basket .basket-box .menu-items .box-titles .menu-item-box-decs p {
  font-size: 14px;
  color: #b3b5b8;
}
.header .basket .basket-box .menu-items .cart-basket-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link {
  margin-top: 10px;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link a {
  background-color: #fd823d;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  width: fit-content;
}
.header .basket .basket-box .menu-items .cart-basket-footer .cart-basket-footer-link a:hover {
  background-color: #f76310;
}
.header .order-num {
  position: absolute;
  top: 19%;
  left: 65%;
  color: white;
  background-color: #727171;
  border-radius: 50%;
  padding: 2px 7px 0px 6px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .header .header-desktop {
    display: none;
  }
}
.header .header-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .header-mobile {
    display: block;
  }
}
.header .header-mobile .mobile-menu {
  display: flex;
  justify-content: space-around;
}
.header .header-mobile .mobile-menu .top-mobile-menu {
  display: flex;
  align-items: center;
}
.header .header-mobile .mobile-menu .top-mobile-menu .btn-primary {
  background-color: #b3b5b8 !important;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu button {
  display: flex;
  border: none;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .return {
  position: absolute;
  top: 1%;
  left: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog {
  width: 60%;
  height: 100%;
  margin: 0;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content {
  height: 100%;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item {
  text-align: right;
  line-height: 35px;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a {
  color: #333333;
}
.header .header-mobile .mobile-menu .top-mobile-menu .modal .modal-dialog .modal-content .modal-body .menu-item a:hover {
  color: #000;
}

.store {
  padding-top: 30px;
  padding-bottom: 30px;
}
.store .faction {
  margin-bottom: 30px;
}
.store .faction .faction-title h2 {
  color: #333333;
  font-size: 25px;
  font-weight: bold;
}
.store .faction ul {
  padding: 0;
  margin: 0;
}
.store .faction ul li {
  line-height: 35px;
}
.store .faction ul li a {
  color: #828282;
}
.store .faction ul li a:hover {
  color: #fd823d;
}
.store .faction button {
  color: #f76310;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}
.store .products-filter .filter-title h1 {
  color: #333333;
  font-size: 30px;
}
.store .products-filter .filter-desc p {
  color: #515151;
}
.store .products-filter .search-all {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}
.store .products-filter .search-all input {
  width: 50%;
  border: 1px solid #b3b5b8;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 4px 10px;
}
@media screen and (max-width: 768px) {
  .store .products-filter .search-all input {
    width: 100%;
  }
}
.store .products-filter .search-all input::placeholder {
  color: #727171;
  font-size: 14px;
}
.store .products-filter .search-all i {
  position: absolute;
  top: 20%;
  left: 51%;
  color: #727171;
}
@media screen and (max-width: 768px) {
  .store .products-filter .search-all i {
    left: 5%;
  }
}
.store .products-filter .filter-desc {
  text-align: right;
}
.store .products-filter .filter-types {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .store .products-filter .filter-types {
    display: block;
  }
}
.store .products-filter .filter-types .sidebar_item {
  z-index: 1;
  position: relative;
}
@media screen and (max-width: 768px) {
  .store .products-filter .filter-types .sidebar_item {
    margin-bottom: 30px;
  }
}
.store .products-filter .filter-types .sidebar_item .sidebar_header {
  text-align: right;
}
.store .products-filter .filter-types .sidebar_item .sidebar_header a {
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
  color: #727171;
  border: 1px solid #b3b5b8;
}
.store .products-filter .filter-types .sidebar_item .sidebar_header a:hover {
  border: 1px solid #fd823d;
}
.store .products-filter .filter-types .sidebar_item .sidebar_header a i {
  padding-right: 5px;
}
.store .products-filter .filter-types .sidebar_item .sidebar_body {
  width: 250px;
  height: 320px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 16px rgba(0, 0, 0, 0.06);
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 20px;
  text-align: center;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .store .products-filter .filter-types .sidebar_item .sidebar_body {
    position: static;
  }
}
.store .products-filter .filter-types .sidebar_item .sidebar_body .sidebar-search input {
  background-color: #f4f4f4;
  border: none;
  padding: 3px 10px;
  border-radius: 20px;
  position: relative;
  width: 93%;
}
.store .products-filter .filter-types .sidebar_item .sidebar_body .sidebar-search input::placeholder {
  color: #b3b5b8;
  font-size: 14px;
}
.store .products-filter .filter-types .sidebar_item .sidebar_body .sidebar-search .fa-search {
  position: absolute;
  top: 8%;
  left: 9%;
  color: #727171;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .store .products-filter .filter-types .sidebar_item .sidebar_body .sidebar-search .fa-search {
    position: absolute;
    margin-top: 42px;
    left: 46%;
  }
}
.store .products-filter .filter-types .sidebar_item .sidebar_body ul {
  padding: 15px;
}
.store .products-filter .filter-types .sidebar_item .sidebar_body ul li a {
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.store .products-filter .filter-types .sidebar_item .sidebar_body ul li ul {
  padding-right: 0;
}
.store .products-filter .filter-types .sidebar_item .sidebar_body ul li ul li {
  line-height: 30px;
}
.store .products-filter .filter-types .sidebar_item .sidebar_body ul li ul li a {
  color: #727272;
  display: block;
  font-size: 14px;
}
.store .products-filter .filter-types .sidebar_item .sidebar_body ul li ul li a span {
  padding-right: 5px;
}
.store .products-items {
  margin-top: 30px;
}
.store .products-items .tab .accordion-body {
  padding: 20px 5px;
}
@media screen and (max-width: 768px) {
  .store .products-items .tab .accordion-body {
    padding: 20px 5px;
  }
}
.store .products-items .tab .nav-link.active {
  color: #f76310;
}
.store .products-items .tab .nav-link {
  color: #727171;
}
.store .products-items .tab ul {
  justify-content: flex-end;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box {
  box-shadow: 0px 0px 5px 2px #a0a0a026;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .item-image {
  height: 200px;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .specifications-desc p {
  color: #b3b5b8;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .product-name h3 {
  text-align: center;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .product-name h3 a {
  color: #333333;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .product-name h3 a {
    font-size: 16px;
  }
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .stars .fa-star:first-child {
  color: #b59206;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .item-price {
  display: flex;
  justify-content: center;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .add-to-cart .cart-icon svg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #fd823d;
  padding: 3px;
}
@media screen and (max-width: 768px) {
  .store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .add-to-cart .cart-icon svg {
    height: 30px;
    width: 30px;
  }
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .add-to-cart .cart-icon svg:hover {
  background-color: #f76310;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .add-to-cart .view-product a {
  color: #fd823d;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .add-to-cart .view-product a {
    font-size: 11px;
    padding-right: 5px;
  }
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .add-to-cart .view-product a:hover {
  color: #f76310;
}
.store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .add-to-cart .view-product a i {
  padding-right: 5px;
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  .store .products-items .tab .tab-content .product-box-vertical .product-box .specifications-box .add-to-cart .view-product a i {
    font-size: 10px;
  }
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box {
  box-shadow: 0px 0px 5px 2px #a0a0a026;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .item-image {
  height: 200px;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .item-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .specifications-box .product-name h3 {
  text-align: right;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .specifications-box .product-name h3 a {
  color: #333333;
  font-size: 22px;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .specifications-box .specifications-desc p {
  color: #b3b5b8;
  font-size: 16px;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .specifications-box .item-price {
  display: flex;
  justify-content: flex-start;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .specifications-box .add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  padding-top: 10px;
  margin-top: 50px;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .specifications-box .add-to-cart .cart-icon svg {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #fd823d;
  padding: 3px;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .specifications-box .add-to-cart .view-product a {
  color: #f76310;
  font-size: 16px;
}
.store .products-items .tab .tab-content .product-box-horizontal .product-box .specifications-box .add-to-cart .view-product a i {
  padding-right: 5px;
  font-size: 13px;
}

footer .footer {
  background-color: #333333;
}
footer .footer .banner {
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .banner .advertising .advertising-title h2 {
  color: #ffffff;
}
footer .footer .banner .advertising .advertising-desc p {
  color: #939598;
  font-size: 22px;
}
footer .footer .banner .footer-btn {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn {
    justify-content: center;
  }
}
footer .footer .banner .footer-btn a {
  border: 1px solid #939598;
  border-radius: 5px;
  padding: 20px 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  footer .footer .banner .footer-btn a {
    padding: 15px 30px;
  }
}
footer .footer .banner .footer-btn a:nth-child(1) {
  color: #939598;
}
footer .footer .banner .footer-btn a:nth-child(2) {
  color: #ffffff;
  background-color: #fd823d;
  margin-right: 20px;
  border: none;
}
footer .footer .banner .footer-btn a:nth-child(2):hover {
  background-color: #f76310;
}
footer .footer .footer-body {
  padding-top: 90px;
  padding-bottom: 20px;
  border-bottom: 1px solid #939598;
}
footer .footer .footer-body .logo {
  margin-top: -50px;
}
footer .footer .footer-body .logo .logo-img {
  height: 150px;
}
footer .footer .footer-body .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .footer .footer-body .footer-desc {
  padding-top: 25px;
}
footer .footer .footer-body .footer-desc p {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-body .footer-desc p {
    padding: 10px;
    text-align: justify;
  }
}
footer .footer .footer-body .footer-box {
  display: flex;
  justify-content: space-around;
}
footer .footer .footer-body .footer-box .faction-items .faction-title h2 {
  color: #ffffff;
  font-size: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list {
  padding-top: 20px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul {
  padding: 5px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li {
  line-height: 30px;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a {
  color: #939598;
}
footer .footer .footer-body .footer-box .faction-items .faction-list ul li a:hover {
  color: #fd823d;
}
footer .footer .footer-body .mark {
  background-color: white;
  height: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
footer .footer .footer-body .mark img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}
footer .footer .footer-items {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items {
    display: block;
  }
}
footer .footer .footer-items .footer-copyright {
  text-align: right;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .footer-copyright {
    text-align: center;
  }
}
footer .footer .footer-items .footer-copyright a {
  color: #ffffff;
}
footer .footer .footer-items .social-media {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  footer .footer .footer-items .social-media {
    padding-top: 30px;
  }
}
footer .footer .footer-items .social-media i {
  font-size: 28px;
  color: #ffffff;
  padding-right: 30px;
}
footer .footer .footer-items .social-media i:hover {
  color: #fd823d;
}

/*# sourceMappingURL=store.css.map */
